@mixin header() {
  font-family: 'Roboto', san-serif;
}

$darkBlue: rgb(2,32,64);
$lightBlue: #0779BE;
$orange: #F4BC59;
$footerHeight: 80px;
$bodyFontFamily: 'Roboto', san-serif;
$headerFontFamily: 'Source Sans Pro', Arial, sans-serif;
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$headerBackgroundColor: $lightBlue;
$textColor: rgb(85, 85, 85);
$lightGray: #eeeeee;
$gray: #aaa;
