@import 'global';

#expedition {
  min-height: 400px;
  padding: 10px 120px 20px;

  .drop-searches {
    margin: 15px 0;
    overflow: auto;
    zoom: 1;

    button {
      margin-top: 15px;
      text-transform: uppercase;
      padding: 5px 15px;
    }

    .drop-search {
      float: left;
      margin-right: 30px;
      width: 200px;

      select {
        width: 100%;
      }

      label {
        display: block;
        margin-bottom: 0;
      }
    }
  }

  .search-results {
    margin-top: 30px;

    table.expeditions {
      width: 100%;
      margin-top: 30px;

      th, td {
        padding: 10px;

        &.name {
          width: 60%;
        }
      }

      thead {
        background: #eee;

        th {
          font-weight: bold;
        }
      }

      tbody {
        tr {
          border-top: 1px solid #eee;

          &:first-child {
            border-top: none;
          }
        }
      }
    }
  }

  .expedition-details {
    margin-top: 25px;

    .other-info {
      margin-bottom: 25px;

      p {
        margin-bottom: 0;
      }
    }
  }
}

#acknowledgement-modal {
  padding: 20px;
  overflow: auto;
  zoom: 1;

  button {
    text-transform: uppercase;
    float: right;
  }
}
