@import 'global';

/* Custom page header */
#header {
  padding-top: 20px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  #logos {
    img {
      padding: 0 0 0 2em;
      max-width: 92%;
    }
  }

  .nav.top-header {
    background-color: $headerBackgroundColor;
    margin-top: 20px;
    padding: 4px 55px;
    text-align: center;
    cursor: default;
    border-bottom: 2px solid $headerBackgroundColor;

    li {
      padding: 12px 1.14em 12px 0;
      display: inline-block;
      float: none;

      a {
        color: rgb(222, 222, 222);
        text-transform: uppercase;
        font-family: $headerFontFamily;
        font-size: 1em;
        font-weight: bold;
        padding: 0 5px;
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
        border-radius: 0;
        line-height: 24px;
        cursor: pointer;

        &.disabled:not(href),
        &.disabled:hover:not(href) {
          color: #555;
          cursor: default;
        }

        &:hover {
          color: #fff;
          background-color: inherit;
        }

        &.selected {
          color: #000;
          background-color: #f3bd4d;
        }
      }
    }
  }

  .nav.sub-header {
    background-color: #E8E0D8;
    text-align: center;

    li {
      float: none;
      display: inline-block;
      height: 100%;

      span > a {
        position: relative;
        display: block;
        padding: 10px 15px;
      }

      .dropdown-menu {
        background-color: #E8E0D8;
        border: none;
        border-radius: 0;
        margin-top: 0;

        li {
          display: block;
        }
      }

      a {
        color: #000;
        height: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        text-decoration: none;
        &:hover {
          background-color: #EAD7B5;
        }

        &:focus {
          background-color: #E8E0D8;
        }

        &.selected {
          cursor: auto;
          color: #000;
          background-color: #f3bd4d;
        }
      }
    }
  }
}
