$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass/layout/sticky-footer";
@include sticky-footer(54px);

// recommended by ui-bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@mixin ghostVerticalAlign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}

@mixin darkBar() {
  background-color: $darkBlue;
  height: 50px;
  color: white;
  width: 100%;
  @include ghostVerticalAlign;
}

$darkBlue: rgb(2,32,64);

.regions {
  @include darkBar;
}

#footer {
  @include darkBar;
  height: 80px;
  position: absolute;
  bottom: 0px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  /* prevent half-pixel blur */
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav-pills:hover {
  cursor: pointer;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  padding: 0px;
}

.row {
  margin: 0px;
}

.btn-default.active {
  background-color: rgb(236,186,32);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }


  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
