#marine-trophic-index {
  padding: 0 5em;


  .nvd3 .nv-x.nv-axis g path.domain {
    // make x-axis visible
    stroke-opacity: 1 !important;
    shape-rendering: optimizeSpeed;
  }
  p.no-data {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }

  #charts {
    .chart-container {
      float:left;
      height: 190px;
      width: 50%;
    }
  }
  #chart-headers {
    .header {
      width: 50%;
      float:left;
    }
  }

  .menu {
    p:first-of-type {
      margin-top: 50px;
    }
  }
  .row.title {
    padding: 3em 0 2em;

    h2 {
      margin-top: 0;
    }

    button {
      border-radius: 0;
    }
  }

  .row {
    &.links {
      padding: 1em 0 2em;
    }

    &.buttons {
      margin-bottom: 1em;

      button:first-child {
        margin-right: 10px;
      }
    }
  }

  #access-year-table {
    td {
      padding: 4px 6px;
    }
  }

  #fib-inputs {
    width: 100%;
    float: right;
    padding: 15px 0;
  }

  #fib-inputs label {
    display: inline-block;
    font-size: 14px;
  }

  #fib-inputs input {
    width: 80px;
  }

  a.show-hide-species {
    display: inline-block;
    margin: 1em 0;
  }

  .nvd3 .nv-axis .nv-axislabel {
    font-size: 18px;
  }

  .label_offshore {
    text-align: right;
    margin: 0 30px -180px 0;
    font-size: 16px;
  }

  .label_onshore {
    margin: -80px 0 80px 100px;
    font-size: 16px;
  }

  .mintl-select {
    height: 26px;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: #fff;
    background-image: none;
    border: 1px solid darkgray;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-right: 40px;
  }

  #tl_control {
    font-size: 12px;
    color: red;
  }

  .species-list, .tabular-data {
    border: 1px solid #aaa;
    border-spacing: 10px;
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;

    th, td {
      border-bottom: 1px solid #aaa;
    }

    td.scientific-name {
      font-style: italic;
    }

    thead tr th {
      background-color: #eee;
      padding: 5px 10px;
    }

    tbody tr {
      td {
        padding: 5px 10px;

        &.exclude {
          text-align: center;
        }
      }
    }
  }
}
