@import 'global';

#region-data-more {
  span.section {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0 10px;
  }

  p.vertical {
    span.link {
      display: block;
      margin-bottom: 5px;

      &:after {
        content: '';
        padding: 0;
      }
    }
  }

  span.under-review-label {
    font-style: italic;

    span {
      color: #2a6496;
    }
  }

  span.link {
    display: inline-block;

    a.under-review:after {
      content: ' *';
    }

    &:after {
      content: '|';
      padding: 0 4px 0 1px;
    }

    &:last-child:after {
      content: '';
      padding: 0;
    }
  }

  div.fao-rfb {
    margin-bottom: 5px;
  }

  #important-note {
    position: relative;
    font-size: 0.8em;

    a {
      font-weight: bold;
    }

    .important-note-popup {
      position: absolute;
      width: 850px;
      top: 30px;
      left: -300px;
      z-index: 3000;
      color: #333;
      font-size: 1rem;
      font-weight: normal;
      background: white;
      border: 1px solid #ccc;
      padding: 35px 20px 10px;

      &.hidden {
        display: none;
      }

      .blue-bar {
        position: absolute;
        content: ' ';
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        border-top: 25px solid #428bca;

        .x {
          position: absolute;
          top: -23px;
          right: 5px;
          cursor: pointer;

          i.fa {
            color: #fff;
          }
        }
      }

      &:before, &:after {
        position: absolute;
        content: ' ';
        bottom: 100%;
        left: 40%;
        width: 0;
        height: 0;
        pointer-events: none;
        border: solid transparent;
      }

      &:before {
        border-width: 14px;
        border-bottom-color: #ccc;
        margin-left: -14px;
      }

      &:after {
        border-width: 13px;
        border-bottom-color: #428bca;
        margin-left: -13px;
      }

      i.fa {
        color: #428bca;
      }
    }
  }

  #biodiversity .base-links {
    position: relative;
    
    div {
      display: inline-block;
      width: 40%;

      h5 {
        margin: 15px 0 5px;
        padding-left: 10px;
      }

      ul {
        padding-left: 10px;

        li {
          list-style: none;
        }
      }
    }
  }
}
