@import 'global';

#region-data-catch-chart {
  background-color: white;
  color: black;
  border: 1px solid $gray;
  margin-bottom: 10px;
  min-height: 150px;
  padding: 20px;

  .nvd3 .nv-legend .nv-series {
    cursor: default;
  }

  .taxon .nvd3 .nv-legend .nv-series {
    cursor: pointer;
  }
}
