@import 'global';

#reconstruction-reference {
  margin-bottom: 20px;

  h2 {
    font-size: 1.8em;
    margin-top: 0;
  }

  span.reference {
    display: block;
    padding: 0 0 5px 16px;

    a i {
      margin-left: -16px;
    }
  }
}
