@import 'global';

.modal-content {
    padding: 20px;
    background-color: black;
    color: white;
    div.row {
        margin-bottom: 10px;
    }
    div.content {
        background-color: white;
        color: black;
    }
    .padded {
        padding: 20px;
    }
    table.metrics {
        width: 100%;
        td {
            padding: 2px;
        }
    }
    button.x-button {
        margin-left: 20px;
        background-color: black;
        border: 3px solid white;
        border-radius: 20px;
    }
    .tabset.content {
        padding-left: 10px;
        padding-right: 0px;
        background-color: black;
        ul.nav-tabs {
            background-color: black;

            li {
                background-color:white;
                color: black;
                margin-left: 5px;
                font-weight: bolder;
            }
            :first-child {
                margin-left: 0px;
            }
        }

        .container {
            padding-top: 40px;
            background-color: white;
        }
    }
    .tab-pane .container {
        padding: 20px;
    }
    .map-cells {
        padding: 0px;
    }
    .container {
        width: 100%;
    }

}
.modal-lg {
    width: 100%;
    min-width: 1200px;
    margin-top:0px;
    .modal-title {
        min-height: 40px;
    }
}
.chart-container {
    height: 350px;
    /* make points visible */
    .nvd3.nv-line .nv-point
    {
        fill-opacity: 1 !important;
    }

    .form-group {
        margin-right: 16px;
        margin-bottom: 12px;
    }

    label {
        margin-right: 6px;
    }

    #header-links {
        span {
            padding-left: 16px;
            cursor: pointer;
        }
    }

}
.nvd3.nv-stackedarea path.nv-area {
    fill-opacity: 1.0;
}

.modal.fade {
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.modal.fade .modal-dialog,
.modal.in .modal-dialog
{
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog {
  width: 100%;
}

.region-detail-tabs {
  .nav-tabs > li > a {
    color: $textColor;
    background-color: $lightGray;
    margin-right: 0;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border-color: transparent;
    background: white;
  }

  .row.catch h3.values-by {
    margin-top: 35px;
  }

  .row.biodiversity {
    ul.organisms {
      list-style-type: none;
      padding-left: 5px;
    }
  }
}

i.fa.red {
  color: red;
}
