@import 'global';

#region-data {
  padding: 0 40px;

  h1 {
    font-weight: bold;
    margin-bottom: 25px;
  }

  p.disclaimer {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.7em;
  }

  button.download-button {
    margin-top: 20px;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }

  .sub-title {
    margin-bottom: 5px;

    .sub-region-selector {
      font-size: 1.1em;

      a.selected {
        cursor: auto;
        color: #333;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .global-extras {
    .method {
      padding-top: 25px;
    }
  }
}
