.modal-content {
    background-color: black;
    color: white;
    div.row {
        margin-bottom: 10px;
    }
    div.content {
        background-color: white;
        color: black;
    }
    .padded {
        padding: 20px;
    }
    table.metrics {
        width: 100%;
        td {
            padding: 2px;
        }
    }
    button.x-button {
        margin-left: 20px;
        background-color: black;
        border: 3px solid white;
        border-radius: 20px;
    }
    .tabset {
        padding-left: 0px;
        padding-right: 0px;
        ul.nav-tabs {
            background-color: black;

            li {
                background-color:white;
                color: black;
                margin-left: 5px;
                font-weight: bolder;
            }
        }
    }
    .map-cells {
        padding: 0px;
    }
}
.modal-lg {
    width: 100%;
    min-width: 1200px;
    margin-top:0px;
}
.nvd3-container {
    height: 400px;
}

