//This search box sits directly on top of a select box, so remove the bottom border.
.sau-multi-select {
	.bottomless-search-box {
		border-bottom-style: none;
	}

	//This select box sits directly below a search box, so remove the top radius.
	.squared-topped-select {
		option {
			padding-bottom: 8px;
			padding-left: 0;
			padding-right: 0;
		}
		height: 200px;
		padding: 10px;
	}
}
