@import 'global';

#legend {
	li {
		padding: 2px 8px;
	}

	.legend-key-label {
		height: 16px;
		vertical-align: middle;
		padding-left: 2px;
	}

	img {
		border-color: black;
		border-width: 1px;
		border-style: solid;
		width: 16px;
		height: 16px;
	}
}