.taxon-info {
	width: 768px;
	margin: 0 auto;
	color: #001f3f;

	table {
		border-color: #9a9a9a;
		width: 100%; 
		
		.table-key {
			background-color: #eeeeee;
			font-weight: 700;
		}
	}
	
	td { padding: 12px; }
}