<div class="page-controller saustrap">
	<h1>Check Your Email</h1>
	<p>Thank you for registering. Please verify your email address by clicking the activation link in the email that we sent you.</p>
	<h2>Can't find the email?</h2>
	<p>Try waiting a minute, then check again. You can also look in your spam folder or <a href ng-click="requestActivationEmail()">request another activation email</a>.</p>
	<p ng-show="activationEmailRequest === 1">Requesting another activation email...</p>
	<p ng-show="activationEmailRequest === 2">You've requested another activation email. Please check your inbox.</p>
	<p ng-show="activationEmailRequest < 0">There was a problem requesting another activation email. Please try again later.</p>
</div>