<span class="dropdown" dropdown id="auth-button">
    <a href class="dropdown-toggle" dropdown-toggle>
        <span ng-show="isAuthenticated">{{username}}</span>
        <span ng-hide="isAuthenticated">Not logged in</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" ng-show="isAuthenticated">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log out</a></li>
    </ul>
    <ul class="dropdown-menu" ng-hide="isAuthenticated">
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sign up</a></li>
    </ul>
</span>