<div class="page-controller saustrap">
	<h1>Request Password Reset</h1>
	<p>Enter the email address you use for login, and we'll send reset instructions.</p>
	<form novalidate name="form">
		<div class="form-group">
            <input type="email" class="form-control" ng-model="email" placeholder="Email address" name="email" required>
            <div class="" ng-show="form.email.$touched && form.email.$error.required">
                <span class="help-text error-text">Please specify your email address.</span>
            </div>
            <div class="" ng-show="form.email.$touched && form.email.$error.email">
                <span class="help-text error-text">This is not a valid email address.</span>
            </div>
        </div>
        <div class="form-group">
        	<button type="submit" ng-class="{'disabled': form.$pristine || form.$invalid || resetPromise.pending || resetRequested}"class="btn btn-primary" ng-click="requestPasswordReset(email)">Submit</button>
        </div>
        <div class="form-group">
        	<div ng-show="errorMessage" class="help-text error-text">{{errorMessage}}</div>
        	<div ng-show="resetRequested" class="help-text">Please check your email for further instructions. You may close this window.</div>
        </div>
	</form>
</div>