<!DOCTYPE html>
<html>
<style type="text/css">
table {margin-left: 80px; width: 92%; margin-bottom: 20px; }
table td { font-size: 12px; text-align: left; height: 30px; }
table tr#color {border: 1px solid black;}
table tr#color td {text-align: center; font-size: 9px; width: 10px;}

table tr#color2 {border: 1px solid black;}
table tr#color2 td {text-align: center; font-size: 12px; width: 10px;}
h3 {text-align: center}
</style>
<body>
<div id="region-data">
<h1></h1>
      <!---<div class="download-div">
        <button class="btn btn-primary download" ng-click="openDownloadDataModal()"
                ng-show="showDownload" ga-event="downloadModalGA">Download Data</button>
      </div>-->
	Dimension <select class="msy" name="msy">
		<option id="selBMSY" value = "BMSY">Biomass</option>
	    <option id="selCMSY" value = "CMSY">Catch</option>
		<option id="selFMSY" value = "FMSY">Exploitation</option>
		<option id="selALL"  value = "ALL">All</option>
	</select>
<br><br>
    <div id="msycontainer" style="height: 400px"></div>
<div class="table-responsive">
<!--<h3>References</h3>-->
<h3>Uncertainty scores</h3>
<table></table>
</div>
</div>
</body>
</html>