<div class="citations">
    <p><a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf" target="_blank" ga-event="{category: 'PDF', action: 'RFMO Citation'}">
        <i class="fa fa-file-pdf-o red"></i>
        {{ 'https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf' | fileOfUrl | breakUnderscores }}
    </a></p>
      <p><a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/Atlas-Chapter7+(Cullis-Suzuki+and+Pauly).pdf" target="_blank" ga-event="{category: 'PDF', action: 'RFMO Citation'}">
        <i class="fa fa-file-pdf-o red"></i>
        {{ 'https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/Atlas-Chapter7+(Cullis-Suzuki+and+Pauly).pdf' | fileOfUrl | breakUnderscores }}
    </a></p>
    <p><a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/Cullis-Suzuki%26Pauly-2010-RFMO.pdf" target="_blank" ga-event="{category: 'PDF', action: 'RFMO Citation'}">
        <i class="fa fa-file-pdf-o red"></i>
        {{ 'https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/Cullis-Suzuki%26Pauly-2010-RFMO.pdf' | fileOfUrl | breakUnderscores }}
    </a></p>
</div>
