<div class="citations">
    <p><a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf" target="_blank" ga-event="{category: 'PDF', action: 'RFMO Citation'}">
        <i class="fa fa-file-pdf-o red"></i>
        {{ 'https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf' | fileOfUrl | breakUnderscores }}
    </a></p>
    <p><span class="disabled">
          Cullis-Suzuki S and Pauly D (2010) Failing the high seas: A global evaluation of regional fisheries
          management organizations. Marine Policy 34: 1036-1042.
    </span></p>
</div>
