<div id="region-data-metrics">
  <table>
    <tr ng-repeat="metric in metrics" ng-hide="metric.hide">
      <td ng-if="metricLinks[metric.title]">
        <a ng-href="{{ metricLinks[metric.title] }}" ng-bind="metric.title" target="_blank"></a>
      </td>
      <td ng-if="!metricLinks[metric.title]">
        <span ng-bind="metric.title"></span>
      </td>
      <td>{{metric.value|number}} <span ng-bind-html="metric.units"></span></td>
    </tr>
    <tr ng-if="region.name === 'eez'">
      <td><a target="_blank" href="/sea-around-us-area-parameters-and-definitions/#_Toc421807904">EEZ declaration year</a></td>
      <td ng-bind="feature.data.declaration_year"></td>
    </tr>
  </table>
</div>
