<p>
  <b>Contracting parties:</b>
  <span>{{ data.contracting_countries.length }} total - </span>
  <span ng-repeat="party in data.contracting_countries">
    {{ party.name + ($last ? '' : ', ') }}
  </span>
</p>

<p>
  <b>Primary managed taxa:</b>
  <span ng-repeat="taxon in data.primary_taxa">
    {{taxon.common_name}}
    <em>({{taxon.scientific_name}})</em>{{$last ? '' : ', '}}
  </span>
</p>

<p ng-hide="!data.secondary_taxa.length">
  <b>Secondary managed taxa:</b>
  <span ng-repeat="taxon in data.secondary_taxa">
    {{taxon.common_name}}
    ({{taxon.scientific_name}}){{$last ? '' : ', '}}
  </span>
</p>
