<span class="link">
    <a target="_blank" ng-href="http://www.fao.org/fishery/rfb/{{data.title}}">FAO {{data.title}} Summary Description</a>
</span>

<span class="link">
    <a target="_blank" ng-href="{{data.profile_url}}">{{data.title}} Website</a>
</span>

<span class="link">
    <a ng-if="data.id !== 19" ng-href="#/rfmo/{{ data.id }}/procedures-and-outcomes">Procedures & Outcomes</a>
    <span ng-if="data.id === 19" class="disabled">Procedures & Outcomes</span>
</span>

<span class="link">
    <a href="http://www.fao.org/fishery/en" target="_blank">FAO Fisheries & Aquaculture Dept.</a>
</span>

<span class="link">
    <a href="http://firms.fao.org/firms/en" target="_blank">FAO FIRMS</a>
</span>
