<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="param-label">Dimension</label>
			<select id="dimensionInput" class="form-control" ng-options="dimension.label for dimension in dimensions" ng-model="selectedDimension" ng-change="modelChanged()"></select>
		</div>
	</div>
	<div class="col-sm-6 side-option" ng-show="selectedDimension.scientificNameOption">
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="useScientificName" ng-change="modelChanged()"> Use scientific name
			</label>
		</div>
	</div>
</div>