<div ng-controller="AdvSearchFishingCountryCtrl">
	<adv-search-section-title>Fishing countries</adv-search-section-title>

	<div class="row">
		<div class="col-sm-6">
			<sau-multi-select limit="selectionLimit" label-key="title" data="countryList.data" search-placeholder="Search Fishing countries" selected="selectedCountries"></sau-multi-select>
		</div>
		<div class="col-sm-6">
			<sau-selected-options limit="selectionLimit" label-key="title" title="Selected fishing countries ({{selectedCountries.length}}/{{selectionLimit}})" selected="selectedCountries"></sau-selected-options>
		</div>
	</div>

	<adv-search-dimension-param region-id="'fishing-entity'" selected-dimension="selectedDimension" use-scientific-name="useScientificName"></adv-search-dimension-param>

	<adv-search-measure-param region-id="'fishing-entity'" selected-measure="selectedMeasure"></adv-search-measure-param>

	<adv-search-dimension-limit-param region-id="'fishing-entity'" selected-limit="selectedLimit" ng-show="selectedDimension.showDimensionLimit"></adv-search-dimension-limit-param>
</div>
