<div ng-controller="AdvSearchDefaultQueryCtrl">
	<adv-search-section-title>{{sectionConfig[section].regionListTitle}}</adv-search-section-title>

	<div class="row">
		<div class="col-sm-6">
			<sau-multi-select limit="sectionConfig[section].selectionLimit" label-key="title" data="regionList.data" search-placeholder="{{sectionConfig[section].searchPlaceholder}}" selected="selectedRegions"></sau-multi-select>
		</div>
		<div class="col-sm-6">
			<sau-selected-options label-key="title" title="{{sectionConfig[section].selectedListTitle}} ({{selectedRegions.length}}/{{sectionConfig[section].selectionLimit}})" selected="selectedRegions"></sau-selected-options>
		</div>
	</div>

	<adv-search-dimension-param region-id="sectionConfig[section].regionType" selected-dimension="selectedDimension" use-scientific-name="useScientificName"></adv-search-dimension-param>

	<adv-search-measure-param region-id="sectionConfig[section].regionType" selected-measure="selectedMeasure"></adv-search-measure-param>

	<adv-search-dimension-limit-param region-id="sectionConfig[section].regionType" selected-limit="selectedLimit" ng-show="selectedDimension.showDimensionLimit"></adv-search-dimension-limit-param>
</div>
