<div ng-controller="AdvSearchEEZCtrl" id="eez-parameters">
	<div class="row">
		<div class="col-xs-12">
			<label for="regionSelect">EEZ regions</label>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<sau-multi-select label-key="title" data="eezList.data" search-placeholder="Search EEZ regions" selected="selectedEEZs"></sau-multi-select>
		</div>
		<div class="col-sm-6">
			<sau-selected-options label-key="title" title="Selected EEZ regions" selected="selectedEEZs"></sau-selected-options>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="dimensionInput">Dimension</label>
				<select id="dimensionInput" class="form-control" ng-options="dimension.label for dimension in dimensions" ng-model="selectedDimension" ng-change="queryChanged()"></select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="measureInput">Measure</label>
				<select id="measureInput" class="form-control" ng-options="measure.label for measure in measures" ng-model="selectedMeasure" ng-change="queryChanged()"></select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="limitInput">Legend limit</label>
				<select id="limitInput" class="form-control" ng-options="limit.label for limit in limits" ng-model="selectedLimit" ng-change="queryChanged()"></select>
			</div>
		</div>

		<div class="col-sm-6 help-text hidden-xs">
			<p>Limit the number of dimensions shown on the graph.</p>
		</div>
	</div>
</div>