<div ng-controller="AdvSearchDefaultQueryCtrl">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="param-label">{{sectionConfig.regionListTitle}}</label>
        <selectize ng-model="selectedSearchOptions" options="searchOptions" config="{valueField: 'value', labelField: 'label', placeholder: sectionConfig.searchPlaceholder, sortField: 'label', searchField: ['label'], plugins: ['remove_button'], maxItems: sectionConfig.selectionLimit}"></selectize>
      </div>
    </div>
    <div class="col-sm-6 help-text side-option">
      <p>{{sectionConfig.selectedListTitle}} ({{selectedRegions.length}}/{{sectionConfig.selectionLimit}})</p>
    </div>
  </div>

  <adv-search-dimension-param region-id="section" selected-dimension="selectedDimension"></adv-search-dimension-param>

  <adv-search-measure-param region-id="section" selected-measure="selectedMeasure"></adv-search-measure-param>

  <adv-search-dimension-limit-param region-id="section" selected-limit="selectedLimit" ng-show="selectedDimension.showDimensionLimit"></adv-search-dimension-limit-param>
</div>
