<div class="page-controller saustrap" id="advanced-search">
	<h1>Advanced Search</h1>
	<p> Use our <strong>advanced search</strong> feature to access specific catch data quickly. Visualize the data in chart-form or download it to your computer for use in various applications.</p>
	<div class="sau-panel">

		<!-- PAGE HEADER - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<div class="panel-header">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="param-label">Search on</label>
						<select class="form-control" ng-model="section" ng-init="section = 'eez'">
							<option value="eez">EEZ(s)</option>
							<option value="lme">LME(s)</option>
							<!-- <option value="eezAndBorderingEezs">EEZ & bordering EEZs</option>
							<option value="fishingCountry">Fishing countries</option>
							<option value="country">Country</option> -->
						</select>
					</div>
				</div>
				<div class="col-sm-6 help-text side-option">
					<p>Changing this value will change the fields below.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="panel-body">
			<!-- EEZ - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div ng-include="'views/advanced-search/adv-search-default-query.html'" ng-if="section === 'eez'"></div>

			<!-- LME - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div ng-include="'views/advanced-search/adv-search-default-query.html'" ng-if="section === 'lme'"></div>

			<!-- EEZ and Bordering EEZs - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div ng-include="'views/advanced-search/adv-search-eez-bordering.html'" ng-if="section === 'eezAndBorderingEezs'"></div>

			<!-- Fishing Country - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div ng-include="'views/advanced-search/adv-search-fishing-country.html'" ng-if="section === 'fishingCountry'"></div>

			<!-- Country - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div ng-include="'views/advanced-search/adv-search-country.html'" ng-if="section === 'country'"></div>
		</div>
		<!-- PAGE FOOTER - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<div class="panel-footer">
			<div class="text-center">
				<button class="btn btn-primary" ng-class="{'disabled': !queryState.isQueryGraphable}" ng-click="viewGraph()">View graph</button>
				<span class="or-separator">or</span>
				<button class="btn btn-primary"  ng-class="{'disabled': !queryState.isQueryDownloadable}" ng-click="downloadData()">Download data</button>
			</div>
		</div>
	</div>
</div>