<div id="search">
    <div id="search-inner">
        <selectize ng-model="selectedSearchOption" options="searchOptions" config="{valueField: 'value', labelField: 'label', placeholder: 'Find a region...', sortField: 'label', searchField: ['label'], maxOptions: null, maxItems: 1, onChange: dropDownSelect}" ></selectize>
    </div>
</div>

<spinner id="map-spinner" class="loading">
  <i class="fa fa-spinner fa-spin loading fa-5x"></i>
  <leaflet id="mainmap" layers="layers" maxbounds="maxbounds" geojson="geojson" center="center" defaults="defaults"></leaflet>
</spinner>
