<div class="regions row">
    <span> Show Search Region: </span>
    <a ng-class="{ active: region.name=='eez'}" class="btn btn-default" ng-click="changeRegion('eez')" role="button">EEZ</a>
    <a ng-class="{ active: region.name=='lme'}" class="btn btn-default" ng-click="changeRegion('lme')" role="button">LME</a>
    <a ng-class="{ active: region.name=='rfmo'}" class="btn btn-default disabled" ng-click="" role="button">RFMO</a>
    <a ng-class="{ active: region=='highseas'}" class="btn btn-default disabled" ng-click="changeRegion('highseas')" role="button">High Seas</a>
    <a ng-class="{ active: region.name=='global'}" class="btn btn-default disabled" ng-click="changeRegionGlobal()" role="button">Global</a>
    <!-- <span ng-bind="$root.hoverRegion.properties.title"></span> -->
</div>
<div id="search">
    <div>
        <input type="text"
            ng-model="customSelected"
            placeholder="Type or select item from list"
            typeahead="feature.properties.title
                for feature in geojson.data.features
                | filter:{properties:{title:$viewValue}}
                | orderBy:'properties.title'
                | limitTo:25"
            typeahead-editable="false"
            typeahead-on-select="regionSelect($item.properties.region_id)"
            typeahead-min-length="0"
        >
    </div>
</div>

<leaflet id="mainmap" layers="layers" maxbounds="maxbounds" geojson="geojson" center="center" defaults="defaults"></leaflet>