
<label class="query-field-label">
	<span ng-show="!keyLink" ng-bind-html="keyName"></span>
	<span ng-show="keyLink" ng-bind-html="keyName"><a ng-href="{{keyLink}}"></a></span>
	<span class="not-bold">{{keyNameSecond}}</span>
</label>
<ul class="legend-color-bar list-inline">
	<li tooltip="{{boundariesTooltips[$index]}}" ng-repeat="swatch in colors" class="legend-color-swatch" ng-init="colorMe($index)" tooltip-append-to-body="true" ng-class="{selected: currValue >= boundaries[$index] && currValue < boundaries[$index + 1]}"></li>
</ul>
<div ng-show="minLabel" class="pull-left legend-measure">{{minLabel}}</div>
<div ng-show="maxLabel" class="pull-right legend-measure">{{maxLabel}}</div>

