<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/nvd3-community/build/nv.d3.css" />
    <link rel="stylesheet" href="bower_components/colorbrewer2/colorbrewer.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/map.css">
    <link rel="stylesheet" href="styles/region-detail.css">
    <!-- endbuild -->

  </head>
  <body ng-app="sauWebApp" ng-controller="RootCtrl">
    <div id="container">
        <div id="root">
          <div class="header">
            <div id="logos" class="clearfix">
              <a href="#/">
                <img class="pull-left" src="images/logo_saup_internal.png" alt="Sea Around Us logo">
              </a>
              <img class="pull-right" src="images/Vulcan_logo_sm.gif" alt="Vulcan logo">
            </div>
            <ul class="nav nav-pills">
              <li role="presentation" ng-repeat="t in templates" ng-click="updateInclude(t)">
                <a>{{t.name}}</a>
              </li>
            </ul>
          </div>

          <div ng-view=""></div>

          <div id="root_footer" class="row content" ng-include="template.url"></div>

        </div>
        <div id="footer">
          <span class="">Copyright Information here. All rights reserved.</span>
          <a class="" href="#">Privacy Policies</a>
          <span class="">|</span>
          <a class="" href="#">Terms and Conditions</a>
        </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3-community/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="bower_components/colorbrewer2/colorbrewer.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.js"></script>
    <script src="bower_components/simple-statistics/src/simple_statistics.js"></script>
    <script src="bower_components/leaflet-pip/leaflet-pip.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers/root.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/map.js"></script>
    <script src="scripts/controllers/minimap.js"></script>
    <script src="scripts/controllers/region-detail.js"></script>
    <script src="scripts/controllers/catch-chart.js"></script>
    <script src="scripts/controllers/marine-trophic-index.js"></script>
    <script src="scripts/controllers/stock-status.js"></script>
    <script src="scripts/controllers/multinational-footprint.js"></script>
    <script src="scripts/directives/line-chart-with-regression.js"></script>
    <!-- endbuild -->
</body>
</html>
