<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties:</b> 26
total: Argentina, Australia, Belgium, Brazil, Chile, China, EU, France,
Germany, India, Italy, Japan, Korea, Namibia, New Zealand, Norway, Poland,
Russia, South Africa, Spain, Sweden, Ukraine, UK, USA, Uruguay.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> High Seas of Southern
Ocean, around Antarctica.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
1982</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>88,
48, 58.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
conserve marine life of the Southern Ocean. However this does not exclude
harvesting carried out in a rational manner.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b> Antarctic
toothfish (<i>Dissostichus mawsoni</i>), Krill (<i>Euphausia superba</i>),
Mackerel icefish (<i>Champsocephalus gunnari</i>), Patagonian toothfish (<i>Dissostichus
eleginoides</i>).</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The x-axis on the figure
below represents current biomass (B2007) over biomass at maximum sustainable
yield (Bmsy). The y-axis represents current fishing mortality (F2007) over
fishing mortality that produces maximum sustainable yield (Fmsy). Shown below
is<span style='font-size:10.0pt'> </span>the South Georgia stock of Patagonian
toothfish; For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal;page-break-after:avoid'><img
width=160 height=176 src="views/rfmo/RFMO1_files/image001.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The figures below show time
series of biomass of three stocks under CCAMLR management; the red dashed lines
denote the date CCAMLR was established (1982). Patagonian toothfish comprise
the largest catch after krill; For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>
<img  src="views/rfmo/RFMO1_files/1_ccamlr.PNG">
</div>
