<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties:</b> 12
total: Canada, Cuba, Denmark (Faroe Islands &amp; Greenland), EU, France (Saint Pierre et Miquelon), Iceland, Japan, Korea (Republic of), Norway, Russian Federation, Ukraine, USA.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> Northwest Atlantic.</p>

<p class=Thesisbodytext style='line-height:normal'><span style='position:relative;
z-index:1'><span style='position:absolute;left:-241px;top:-1px;width:2px;
height:206px'></span></span><b>Date
entered into force:</b> 1979</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>21<b>.</b></p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives: </b>“…to
contribute through consultation and cooperation to the optimum utilization,
rational management and conservation of the fishery resources of the Convention
Area.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b> American
plaice (<i>Hippoglossoides platessoides</i>), Atlantic cod (<i>Gadus morhua</i>),
Atlantic redfishes (<i>Sebastes </i>spp.), Capelin (<i>Mallotus villosus</i>), Greenland halibut (<i>Reinhardtius hippoglossoides</i>), Northern shrimp (<i>Pandalus</i>
spp.), Shortfinned squid (<i>Illex illecebrosus</i>), Thorny skate (<i>Amblyraja
radiata</i>), White hake (<i>Urophycis tenuis</i>), Witch flounder (<i>Glyptocephalus
cynoglossus</i>), Yellowtail flounder (<i>Limanda ferruginea</i>).</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=MsoNormal>The x-axes on the figures below represent either current
biomass (B2007 or B2008) or current spawning stock biomass (SSB2007) over either
biomass at maximum sustainable yield (Bmsy), biomass at ‘limit’ (Blim), or
spawning stock biomass at ‘limit’ (SSBlim). The y-axes represent current
fishing mortality (F2007) or current total mortality (Z2008) over either fishing
mortality that produces maximum sustainable yield (Fmsy) or total mortality at
maximum sustainable yield (Zmsy). Shown below, are stocks: a) Cod (Div. 3M); b)
Redfish (Div. 3M); c) Shrimp; d) American Plaice (Div. 3M); e) Greenland
Halibut (Div. 3KLMNO). For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><img width=553 height=395
src="/views/rfmo/RFMO10_files/image002.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'>The figures below show time
series of biomass of the five main species under management of NAFO; the red
dashed lines denote the date NAFO was established (1979). For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>
<br />
<img src="/views/rfmo/RFMO10_files/10_NAFO.png" />
</div>
