<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>7
total: Canada, Denmark (Faroe Islands and Greenland), EU, Iceland, Norway, Russian Federation, USA.       </p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> East coast EEZs
of Canada &amp; USA; EEZs West of Greenland, west of a line along 44°W
longitude south to 59°N latitude, thence due east to 42°W longitude and thence
due south; </p>

<p class=Thesisbodytext style='line-height:normal'><span style='position:relative;
z-index:1'><span style='position:absolute;left:-277px;top:-1px;width:2px;
height:218px'></span></span><b>Date
entered into force:</b> 1983</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>27,
21.<b> </b></p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
conserve, restore, enhance and rationally manage Atlantic salmon through
international cooperation taking account of the best available scientific
information.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b>
Atlantic salmon (<i>Salmo salar L</i>.).</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>The x-axis on the figure below represents current abundance
(A2007) over abundance at conservation limit (ACL). The y-axis represents current
fishing mortality (F2007) over fishing mortality that produces maximum
sustainable yield (Fmsy). The figure below represents North American Atlantic
salmon (large salmon only) under NASCO management. For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><img width=155 height=174
src="/views/rfmo/RFMO11_files/image002.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The figures below show time
series of abundance of the three stocks of Atlantic salmon under management of
NASCO; the red dashed lines denote the date NASCO was established (1983). Note:
b) and c) depict pre-fishery abundance. For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>
<br />

<img src="/views/rfmo/RFMO11_files/11_NASCO.PNG" />

</div>
