<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>5
total: Denmark (Faroe Islands &amp; Greenland), EU, Iceland, Norway, Russian Federation.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> Atlantic and Arctic Oceans.      </p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force: </b>1982</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>27.
</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
recommend measures to maintain the rational exploitation of fish stocks in the
Atlantic and Arctic Oceans.”<b> </b></p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b> Blue
whiting (<i>Micromesistius poutassou</i>), deep-sea species, Haddock (<i>Melanogrammus
aeglefinus</i>), Herring (<i>Clupea harengus</i>), Mackerel (<i>Scomber
scombrus</i>), Redfish (<i><span lang=EN>Sebastes mentella</span></i><span
lang=EN>)</span>. </p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The x-axes on the figures
below represent either current biomass (B2007) or current spawning stock
biomass (SSB2008 or SSB2006) over either biomass at maximum sustainable yield
(Bmsy), spawning stock biomass at maximum sustainable yield (SSBmsy), or
spawning stock biomass at “critical level” (SSBlim), or lowest observed SSB in
the time-series (SSBloss). The y-axes represent current fishing mortality
(F2008, F2007 or F2006) over either fishing mortality that produces maximum
sustainable yield (Fmsy), or the fishing mortality limit or target (Flim or
Ftarget, respectively). Shown below, are stocks: a) Blue Whiting; b) Mackerel;
c) Redfish; d) Herring, Norwegian-spawning; e) Herring, Norway-Sweden stock; f) Haddock. For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'><img width=529 height=390
src="views/rfmo/RFMO12_files/image001.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'>The figures below show time
series of biomass of the five main stocks under NEAFC management; the red
dashed lines denote the date NEAFC was established (1982). For data sources,
see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<table class=MsoTableGrid1 border=0 cellspacing=0 cellpadding=0 width=740
 style='width:484.35pt;border-collapse:collapse'>
 <tr>
  <td width=235 valign=top style='width:153.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>a)</p>
  </td>
  <td width=255 valign=top style='width:166.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>b)</p>
  </td>
  <td width=250 valign=top style='width:163.95pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>c)</p>
  </td>
 </tr>
 <tr>
  <td width=235 valign=top style='width:153.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><span style='position:
  absolute;z-index:1;margin-left:0px;margin-top:4px;width:40px;height:160px'><img
  width=40 height=160 src="views/rfmo/RFMO12_files/image002.gif"
  alt="Text Box: Biomass (million t)"></span><img width=204 height=232
  src="views/rfmo/RFMO12_files/image003.gif"></p>
  </td>
  <td width=255 valign=top style='width:166.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=194 height=223
  src="views/rfmo/RFMO12_files/image004.gif"></p>
  </td>
  <td width=250 valign=top style='width:163.95pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><i><img width=193
  height=225 src="views/rfmo/RFMO12_files/image005.gif"></i></p>
  </td>
 </tr>
 <tr>
  <td width=235 valign=top style='width:153.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><span style='position:
  absolute;z-index:2;margin-left:0px;margin-top:12px;width:40px;height:160px'><img
  width=40 height=160 src="views/rfmo/RFMO12_files/image006.gif"
  alt="Text Box: Biomass (million t)"></span>d)</p>
  </td>
  <td width=255 valign=top style='width:166.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>e)</p>
  </td>
  <td width=250 valign=top style='width:163.95pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>f)</p>
  </td>
 </tr>
 <tr>
  <td width=235 valign=top style='width:153.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><i><img width=206
  height=239 src="views/rfmo/RFMO12_files/image007.gif"></i></p>
  </td>
  <td width=255 valign=top style='width:166.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='margin-left:9.8pt;line-height:normal'><i><img
  width=204 height=237 src="views/rfmo/RFMO12_files/image008.gif"></i></p>
  </td>
  <td width=250 valign=top style='width:163.95pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext align=right style='text-align:right;line-height:normal'><i><img
  width=193 height=234 src="views/rfmo/RFMO12_files/image009.gif"></i></p>
  </td>
 </tr>
</table>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

</div>
