<div class=Section1>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>5
total: Canada, Japan, Korea (Republic of), Russian Federation, USA.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> High seas only
of the North Pacific Ocean and its adjacent seas, north of 33 degrees north latitude.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force: </b>1993</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>67,
61, 77.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
promote the conservation of anadromous stocks in the Convention Area.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b>
Cheery salmon (<i>Oncorhynchus masou</i>), Chinook salmon (<i>Oncorhynchus
tshawytscha</i>), Chum salmon (<a name=top></a><i>Oncorhynchus keta</i>), Coho
salmon (<i>Oncorhynchus kisutch</i>), Pink salmon (<i>Oncorhynchus gorbuscha</i>),
Sockeye salmon (<i>Oncorhynchus nerka</i>), Steelhead trout (<i>Oncorhynchus
mykiss</i>).</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=MsoNormal>The x-axes on the figures below represent current biomass
(B2006) over biomass at maximum sustainable yield (Bmsy). The y-axes represent
current fishing mortality (F2006) over fishing mortality that produces maximum
sustainable yield (Fmsy). Shown below, are stocks: a) Sockeye salmon; b) Chum
salmon; c) Pink salmon.<span style='font-size:10.0pt'> </span>For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'><b><span style='font-size:
10.0pt'>&nbsp;</span></b></p>

<p class=Thesisbodytext style='line-height:normal;page-break-after:avoid'><img
width=541 height=174 src="/views/rfmo/RFMO13_files/image001.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'>The figures below show time
series of biomass of the three main salmon stocks under NPAFC management; the red
dashed lines denote the date NPAFC was established (1993). For data sources,
see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>
<img src="/views/rfmo/RFMO13_files/13_NPAFC.PNG" />
</div>