<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>2
total: Canada, USA.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> EEZs of Canada and USA.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
1995</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>67.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives: </b>“…to
carry out their [Canada and USA] salmon fisheries and enhancement programs so
as to: prevent over-fishing and provide for optimum production, and ensure that
both countries receive benefits equal to the production of salmon originating
in their waters.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species: </b>Chinook
salmon (<span class=subtitle1><i><span style='font-family:"Times New Roman";
color:windowtext;font-weight:normal'>Oncorhynchus tshawytscha</span></i></span>),
Chum salmon (<span class=subtitle1><i><span style='font-family:"Times New Roman";
color:windowtext;font-weight:normal'>Oncorhynchus keta</span></i></span>), Coho
salmon (<span class=subtitle1><i><span style='font-family:"Times New Roman";
color:windowtext;font-weight:normal'>Oncorhynchus kisutch</span></i></span>),
Pink salmon (<span class=subtitle1><i><span style='font-family:"Times New Roman";
color:windowtext;font-weight:normal'>Oncorhynchus gorbuscha</span></i></span>),
Sockeye salmon (<span class=subtitle1><i><span style='font-family:"Times New Roman";
color:windowtext;font-weight:normal'>Oncorhynchus nerka</span></i></span>).</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>Note: current stock status
data for PSC are not available.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The figures below show time
series of biomass of four main salmon stocks under PSC management; the red
dashed lines denote the date PSC was established (1995). For data sources, see
<a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>
<img src="/views/rfmo/RFMO14_files/14_PSC.PNG" />

</div>
