<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties:</b>
5 total: Angola, EU, Namibia, Norway, South Africa.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> Southeast Atlantic high seas.</p>

<p class=Thesisbodytext style='line-height:normal'><span style='position:relative;
z-index:1'><span style='position:absolute;left:-260px;top:-1px;width:2px;
height:230px'></span></span><b>Date
entered into force: </b>2003</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>47,
34.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
ensure the long-term conservation and sustainable use of the fishery resources
in the <strong><a
href="http://www.seafo.org/../New%20Folder/About%20Seafo/conventional%20map.htm"
target="_self"><span style='color:windowtext;font-weight:normal;text-decoration:
none'>Convention Area</span></a></strong> through the effective implementation
of the <a href="http://www.seafo.org/"><span>Convention</span></a>.”</p>

<p class=MsoNormal style='text-autospace:none'><b>Primary species:</b> Alfonsino
(Family Berycidae), Armourhead (<i>Pseudopentaceros </i>spp.), Cardinal fish (<i>Epigonus
</i>spp.), Chub mackerel (<i><span lang=EN>Scomber japonicus</span></i>), Deep-sea
crab (<i>Chaceon maritae</i>), Deepwater hake (<i>Merluccius paradoxus</i>),
Horse mackerel (<i>Trachurus spp</i>.), Octopus (Family Octopodidae), Orange roughy (<i>Hoplosthethus </i>spp.), Oreodories (Family Oreosomatidae), Patagonian
toothfish (<i>Dissostichus eleginoides</i>), Skates (Family Rajidae), Squid
(Family Loliginidae), Wreckfish (<i>Polyprion americanus</i>).</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>


<p class=Thesisbodytext style='line-height:normal'>At the time of assessment (<a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf">Cullis-Suzuki &amp; Pauly, 2009</a>), SEAFO did not have species biomass information available.</p>




</div>