<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>23
total: Australia, China, Comoros, Cook Islands, EU, France, Iran, Japan, Kenya,
Korea (Republic of), Madagascar, Maldives, Mauritius, Mozambique, Namibia, New
Zealand, Russia, Seychelles, Somalia, South Africa, Tanzania, UK, Yemen.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> Southern Indian Ocean, outside national jurisdictions.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
Not in force at the time of study.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>Yes.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>51.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…
ensuring the long-term conservation and sustainable use of fishery resources
other than tuna in areas that fall outside national jurisdictions.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b>
Fishery resources other than tuna in areas that fall outside national
jurisdictions in the Southern Indian Ocean.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'>Note: at the time of the
present study, SIOFA did not have species biomass information available.</p>

<p class=MsoNormal>&nbsp;</p>

</div>