<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>4
total: Australia, Chile, EU, New Zealand.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> High seas of
South Pacific Ocean (from the most eastern part of the Southern Indian Ocean
through the Pacific towards the EEZs of South America.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
Not in force at the time of the present study.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association:</b> No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>81,
71, 57.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
ensure the long-term conservation and sustainable use of fish stocks and to
protect biodiversity in the marine environment.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b>
Discreet high seas stocks and straddling stocks.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'>Note: at the time of the
present study, SPRFMO did not have species biomass information available.</p>



</div>