<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties:</b>
25 total: Australia, Canada, China, Cook Islands, EU, Federated States of
Micronesia, Fiji, France, Japan, Kiribati, Korea, Marshall Islands (Republic
of), Nauru, New Zealand, Niue, Palau, Papua New Guinea, Philippines, Samoa,
Solomon Islands, Taiwan, Tonga, Tuvalu, USA, Vanuatu.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> Western and Central Pacific Ocean.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force</b>:
2004</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>81,
71, 61, 67, 77.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
ensure, through effective management, the long-term conservation and
sustainable use of highly migratory fish stocks in the western and central
Pacific Ocean in accordance with the 1982 United Nations Convention on the Law
of the Sea and the 1995 UN Fish Stocks Agreement.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b> All
species of highly migratory fish stocks within the Convention Area, except
sauries.</p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=MsoNormal>The x-axes on the figures below represent current biomass
(B2006) over biomass at maximum sustainable yield (Bmsy). The y-axes represent
current fishing mortality (F2006) over fishing mortality that produces maximum
sustainable yield (Fmsy). Shown below, are stocks: a) Yellowfin tuna; b)
Albacore tuna, south; c) Bigeye tuna; d) Skipjack tuna.<span style='font-size:
10.0pt'> </span>For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>



<p class=Thesisbodytext style='line-height:normal'><img width=550 height=384
src="views/rfmo/RFMO18_files/image001.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>


<p class=MsoNormal>The figures below show time series of biomass of the four
main tuna stocks under WCPFC management; the red dashed lines denote the date
WCPFC was established (2004). For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoTableGrid1 border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'>a)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'>b)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'>c)</p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'><span style='position:absolute;
  z-index:2;margin-left:-24px;margin-top:6px;width:43px;height:147px'><img
  width=43 height=147 src="views/rfmo/RFMO18_files/image002.gif"
  alt="Text Box: Biomass (million t)"></span><img width=173 height=198
  src="views/rfmo/RFMO18_files/image003.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'><span style='position:absolute;
  z-index:3;margin-left:63px;margin-top:4px;width:88px;height:52px'>
  <table cellpadding=0 cellspacing=0>
   <tr>
    <td width=88 height=52 bgcolor=white style='vertical-align:top;background:
    white'><span style='position:absolute;z-index:3'>
    <table cellpadding=0 cellspacing=0 width="100%">
     <tr>
      <td>
      <div style='padding:3.6pt 7.2pt 3.6pt 7.2pt'>
      <p class=MsoNormal style='margin-right:-6.0pt'>Albacore (south)</p>
      </div>
      </td>
     </tr>
    </table>
    </span>&nbsp;</td>
   </tr>
  </table>
  </span><img width=168 height=198 src="views/rfmo/RFMO18_files/image004.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'><i><img width=192
  height=192 src="views/rfmo/RFMO18_files/image005.gif"></i></p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'>d)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'>&nbsp;</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'><i>&nbsp;</i></p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'><span style='position:absolute;
  z-index:1;margin-left:-24px;margin-top:10px;width:43px;height:147px'><img
  width=43 height=147 src="views/rfmo/RFMO18_files/image002.gif"
  alt="Text Box: Biomass (million t)"></span><img width=195 height=219
  src="views/rfmo/RFMO18_files/image006.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'><i>&nbsp;</i></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='page-break-after:avoid'><i>&nbsp;</i></p>
  </td>
 </tr>
</table>


</div>
