<div class=Section1>

<p class=MsoNormal><b>Contracting parties:</b> 6 total: China, Japan, Republic of Korea, Republic of Poland, Russian Federation, USA.</p>

<p class=MsoNormal><b>Area:</b> High seas of the Bering Sea.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
1995</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=MsoNormal><b>FAO statistical area: </b>61, 67.</p>

<p class=MsoNormal><b>Objectives:</b> “…to establish an international regime
for conservation, management, and optimum utilization of Pollock resources in
the Convention area…”</p>

<p class=MsoNormal><b>Primary species:</b> Pollock<i> </i>(<i>Theragra
chalcogramma</i>).</p>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The x-axis on the figure
below represents current biomass (B2008) over biomass at maximum sustainable
yield (Bmsy). The y-axis represents current fishing mortality (F2008) over
fishing mortality that produces maximum sustainable yield (Fmsy); For data sources, see <a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>.<span style='font-size:10.0pt'> </span></p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><img width=156 height=180
src="views/rfmo/RFMO2_files/image001.jpg"></p>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>Pollock are the primary
species under CCBSP management. Shown below is the time series of biomass of
pollock in the Donut Hole region; the red dashed line denotes establishment of
CCBSP (1995). For data sources see <a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal> </p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'><span style='position:absolute;
z-index:1;margin-left:-12px;margin-top:1px;width:40px;height:184px'><img
width=40 height=184 src="views/rfmo/RFMO2_files/image002.gif"
alt="Text Box: Perceived abundance (%)"></span><span style='position:absolute;
z-index:2;margin-left:60px;margin-top:73px;width:76px;height:40px'>

<table cellpadding=0 cellspacing=0>
 <tr>
  <td width=76 height=40 style='vertical-align:top'><span style='position:absolute;
  z-index:2'>
  <table cellpadding=0 cellspacing=0 width="100%">
   <tr>
    <td>
    <div style='padding:3.6pt 7.2pt 3.6pt 7.2pt'>
    <p class=MsoNormal>Pollock</p>
    </div>
    </td>
   </tr>
  </table>
  </span>&nbsp;</td>
 </tr>
</table>

</span><img width=192 height=217 src="views/rfmo/RFMO2_files/image003.gif"></p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

</div>
