<div class=Section1>

<p class=MsoNormal><b>Contracting parties:</b> 6 total: Australia, Indonesia, Japan, Korea (Republic of), New Zealand, Taiwan.</p>

<p class=MsoNormal><b>Area: </b>The<b> </b>entire geographical range of
Southern bluefin tuna.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
1994</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>41,
47, 51, 57, 81.</p>

<p class=MsoNormal><b>Objectives:</b> “…to ensure, through appropriate
management, the conservation and optimum utilisation of the global SBT fishery.
The Commission also provides an internationally recognised forum for other
countries/entities to actively participate in SBT issues.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b> Southern
bluefin tuna (<i>Thunnus maccoyii</i>).</p>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The x-axis on the figure
below represents current spawning stock biomass (SB2006) over spawning stock biomass
at maximum sustainable yield (SSBmsy). The y-axis represents current exploitation
rate (U2006) over exploitation rate that produces maximum sustainable yield (Umsy);
For data sources, see <a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>.</p>

<p class=Thesisbodytext style='line-height:normal;page-break-after:avoid'><img
width=169 height=180 src="views/rfmo/RFMO3_files/image001.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>Shown below is the time
series of biomass of Southern bluefin tuna, the primary species under
management of CCSBT; the red dashed line denotes the year of establishment of
CCSBT (1994). For data sources see <a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><span style='position:absolute;z-index:1;margin-left:-12px;
margin-top:11px;width:40px;height:124px'><img width=40 height=124
src="views/rfmo/RFMO3_files/image002.gif" alt="Text Box: SSB (million t)"></span><img
width=209 height=204 src="views/rfmo/RFMO3_files/image003.gif"></p>

</div>
