<div class=Section1>

<p class=MsoNormal><b>Contracting parties:</b> 24 total: Albania, Algeria,
Bulgaria, Croatia, Cyprus, EU, Egypt, France, Greece, Israel, Italy, Japan,
Lebanon, Libya, Malta, Monaco, Montenegro, Morocco, Romania, Slovenia, Spain,
Syria, Tunisia, Turkey.</p>

<p class=MsoNormal><b>Area:</b> The Mediterranean, Black Sea and connecting
waters.</p>

<p class=Thesisbodytext style='text-align:justify;line-height:normal'><b>Date
entered into force:</b> 1952</p>

<p class=MsoNormal><b>FAO association: </b>Yes.</p>

<p class=MsoNormal><b>FAO statistical area: </b>37.</p>

<p class=MsoNormal><b>Commission’s objectives:</b> “…to promote the
development, conservation, rational management and best utilization of living
marine resources, as well as the sustainable development of aquaculture in the
Region.”</p>

<p class=MsoNormal><b>Primary species:</b> Albacore <em><span style='color:
black;font-style:normal'>(</span><span style='color:black'>Thunnus alalunga</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Angler <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Lophius
piscatorius</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Atlantic bluefin tuna <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Thunnus thynnus</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, Atlantic mackerel <em><span style='color:
black;font-style:normal'>(</span><span style='color:black'>Scomber scombrus</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Beluga <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Huso
huso</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Blackbellied angler <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Lophius budegassa</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, Blackspot seabream <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Pagellus
bogaraveo)</span></em>, Blue and red shrimp <em><span style='color:black;
font-style:normal'>(</span><span style='color:black'>Aristeus antennatus</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Blue shark <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Prionace
glauca</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Blue whiting <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Micromesistius poutassou</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Bluefish <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Pomatomus
saltatrix</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Bogue <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Boops boops</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, Common cuttlefish <em><span style='color:
black;font-style:normal'>(</span><span style='color:black'>Sepia officinalis</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Common dolphinfish <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Coryphaena
hippurus</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Common Pandora <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Pagellus erythrinus)</span></em>, Common sole <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Solea
solea</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Common spiny lobster <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Palinurus elephas</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, Danube sturgeon <em><span style='color:black;
font-style:normal'>(</span><span style='color:black'>Acipenser gueldenstaedtii</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Deepwater rose shrimp <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Parapenaeus
longirostris</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
European anchovy <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Engraulis encrasicolus</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, European eel <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Anguilla
anguilla</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
European hake <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Merluccius merluccius</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, European pilchard
(Sardine) <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Sardina pilchardus</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, European sprat <em><span style='color:black;
font-style:normal'>(</span><span style='color:black'>Sprattus sprattus</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, European squid <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Loligo
vulgaris</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Giant red shrimp <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Aristaeomorpha foliacea</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Horned octopus <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Eledone
cirrosa</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Mediterranean horse mackerel <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Trachurus mediterraneus</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Musky octopus <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Eledone
moschata</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Norway lobster <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Nephrops norvegicus</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, Pink spiny lobster <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Palinurus
mauritanicus</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Porbeagle <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Lamna nasus</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, Red mullet <em><span style='color:black;
font-style:normal'>(</span><span style='color:black'>Mullus barbatus</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Round sardinella <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Sardinella
aurita</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Shortfin mako <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Isurus oxyrinchus</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, Starry sturgeon <em><span style='color:black;
font-style:normal'>(</span><span style='color:black'>Acipenser stellatus</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Sturgeon <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Acipenser
sturio</span></em><em><span style='color:black;font-style:normal'>)</span></em>,
Surmullet <em><span style='color:black;font-style:normal'>(</span><span
style='color:black'>Mullus surmuletus</span></em><em><span style='color:black;
font-style:normal'>)</span></em>, Turbot <em><span style='color:black;
font-style:normal'>(</span><span style='color:black'>Psetta maxima</span></em><em><span
style='color:black;font-style:normal'>)</span></em>, Whiting <em><span
style='color:black;font-style:normal'>(</span><span style='color:black'>Merlangius
merlangus</span></em><em><span style='color:black;font-style:normal'>)</span></em>.</p>

<p class=Thesisbodytext style='text-align:justify;line-height:normal'>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>The x-axes on the figures below represent either current
spawning stock biomass (SSB2007) or current biomass (B2007) over either
spawning stock biomass at maximum sustainable yield (SSBmsy) or biomass at
maximum sustainable yield (Bmsy). The y-axes represent current fishing
mortality (F2007) over fishing mortality that produces maximum sustainable
yield (Fmsy). Shown below, are stocks: a) Anchovy (northern Adriatic Sea stock,
GSA 17); b) Sardine (northern Adriatic Sea stock, GSA 17). For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=MsoNormal style='page-break-after:avoid'><span style='font-size:10.0pt'><img
width=367 height=174 src="/views/rfmo/RFMO4_files/image001.jpg"></span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Time series of the biomass of two main species under
management of GFCM; the red dashed lines denote year of establishment of GFCM
(1952). Both anchovy and sardine comprise a majority of GFCM’s catch and had
the most available data. For data sources see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>
<img src="/views/rfmo/RFMO4_files/4_GFCM.png" />
</div>