<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties:</b>
16 total: Columbia, Costa Rica, Ecuador, El Salvador, France, Guatemala, Japan, Mexico, Nicaragua, Panama, Peru, Republic of Korea, Spain, USA, Vanuatu,   Venezuela.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> Eastern Pacific Ocean</p>

<p class=MsoNormal><b>Date entered into force:</b> 1950</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>87,
77, 67.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives: </b>“…responsible
for the conservation and management of fisheries for tunas and other species
taken by tuna-fishing vessels in the eastern Pacific Ocean.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b>
Albacore (<i>Thunnus alalunga</i>), Bigeye tuna <i>Thunnus obesus</i>), Black
skipjack (<i>Euthynnus lineatus</i>), Black marlin (<i>Makaira indica</i>),
Blue marlin (<i>Makaira nigricans</i>), Bonitos (Sarda spp), Carangids (family:
Carangidae), Dolphin fish (family: Coryphaenidae), Striped marlin (<i>Tetrapturus
audax</i>), Pacific bluefin tuna (<i>Thunnus orientalis</i>), Indo-Pacific
sailfish (<i>Istiophorus platypterus</i>), Skipjack tuna (<i>Katsuwonus pelamis</i>),
Shortbill spearfish (<i>Tetrapturus angustirostris</i>), Swordfish (<i>Xiphias
gladius</i>), Yellowfin tuna (<i>Thunnus albacares</i>).</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>The x-axes on the figures below represent current biomass
(B2006 or B2002) over biomass at maximum sustainable yield (Bmsy). The y-axes
represent current fishing mortality (F2006 or F2002) over fishing mortality
that produces maximum sustainable yield (Fmsy). Shown below, are: a) Yellowfin tuna
(note: x-axis reflects stock size in relation to Amsy; data point is running
average of three years, 2004-2006); b) Bigeye tuna (note: x-axis reflects stock
size in relation to Amsy; data point is running average of three years,
2004-2006); c) Skipjack tuna. For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'>  </p>

<p class=Thesisbodytext style='line-height:normal;page-break-after:avoid'><img
border=0 width=570 height=192 src="views/rfmo/RFMO5_files/image001.jpg"></p>

<b><span style='font-size:12.0pt;font-family:"Times New Roman"'><br clear=all
style='page-break-before:always'>
</span></b>

<p class=Thesisbodytext style='line-height:normal'>Time series of the biomass
of three main tuna species under management of IATTC; the red dashed lines denote
establishment of IATTC (1950). For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>
<img src="views/rfmo/RFMO5_files/5_IATTC.PNG" />
</div>
