<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>48
total- Albania, Algeria, Angola, Barbados, Belize, Brasil, Canada, Cap-Vert,
China, Cote d’Ivoire, Croatia, Equatorial Guinea, Egypt, EU, France (St-Pierre
et Miquelon), Gabon, Ghana, Guatemala, Guinee Rep, Honduras, Iceland, Japan,
Korea (Republic of), Libya, Maroc, Mauritania, Mexico, Namibia, Nicaragua,
Nigeria, Norway, Panama, Philippines, Russia, Sao Tome E Principe, Senegal,
Sierra Leone, South Africa, Syria, St. Vincent &amp; the Grenadines, Trinidad
&amp; Tobago, Tunisia, Turkey, UK, USA, Uruguay, Vanuatu, Venezuela. </p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> Atlantic Ocean and adjacent seas.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
1969.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>41,
47, 48, 31, 34, 21, 27.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives: </b>“…conservation
of tunas and tuna-like species in the Atlantic Ocean and adjacent seas.”</p>

<p class=MsoNormal style='text-autospace:none'><b>Primary species:</b> Albacore
tuna (<i>Thunnus alalunga</i>), Atlantic bluefin tuna (<i>Thunnus thynnus t.,
Thunnus maccoyii)</i>, Bigeye tuna (<i>Thunnus obesus</i>), Billfishes- white marlin
(<i>Tetrapturus albidus</i>), blue marlin (<i>Makaira nigricans</i>), sailfish
(<i>Istiophorus albicans</i>) and spearfish (<i>Tetrapturus pfluegeri</i>),
Mackerels- spotted Spanish mackerel (<i>Scomberomorus</i><span
style='font-size:9.0pt'> </span><i>tritor</i><i><span style='font-size:10.0pt'>)</span></i><span
style='font-size:10.0pt'> </span>and king mackerel (<i>Scomberomorus cavalla</i>),
Skipjack tuna (<i>Katsuwonus pelamis</i>), Small tunas- Black skipjack tuna (<i>Euthynnus
lineatus</i>), Frigate tuna (<i>Auxis thazard</i>), and Atlantic bonito (<i>Sarda
sarda</i>), Swordfish (<i>Xiphias gladius</i>), Yellowfin tuna (<i>Thunnus
albacares</i>).</p>

<p class=Thesisbodytext style='line-height:normal'><b>&nbsp;</b></p>

<p class=MsoNormal>The x-axes on the figures below represent either current
biomass (B2006 or B2005) or current spawning stock biomass (SSB2005) over either
biomass at maximum sustainable yield (Bmsy) or spawning stock biomass at
maximum sustainable yield (SSBmsy). The y-axes represent current fishing
mortality (F2006 or F2005) over fishing mortality that produces maximum
sustainable yield (Fmsy). Shown below, are stocks: a) Bluefin tuna (west
Atlantic stock); b) Bluefin tuna (east Atlantic stock); c) Yellowfin tuna; d) Skipjack
tuna (east Atlantic stock); e) Skipjack tuna (west Atlantic stock); f) Bigeye
tuna; g) Albacore tuna (south Atlantic stock); h) Albacore tuna (north Atlantic
stock). For data sources, see <a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Thesisbodytext style='line-height:normal'><img width=587 height=390
src="views/rfmo/RFMO6_files/image001.jpg">         </p>

<p class=Thesisbodytext style='line-height:normal'>  <img width=381 height=188
src="views/rfmo/RFMO6_files/image002.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'><b>&nbsp;</b></p>

<p class=Thesisbodytext style='line-height:normal'><b>&nbsp;</b></p>

<p class=Thesisbodytext style='line-height:normal'>The figures below show time
series of biomass of the nine major tuna stocks under ICCAT management; the red
dashed line denotes the date ICCAT was established (1969). Species shown below,
are: a) Bluefin tuna (west Atlantic stock); b) Bluefin tuna (east Atlantic
stock); c) Yellowfin tuna; d) Skipjack tuna (east Atlantic stock); e) Skipjack
tuna (west Atlantic stock); f) Bigeye tuna; g) Albacore tuna (south Atlantic
stock); h) Albacore tuna (north Atlantic stock). For data sources see <a href="https://s3-us-west-2.amazonaws.com/legacy.seaaroundus/rfmo/FCWorkingPaper_RFMOs_CullisSuzukiPauly_2009.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>a)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>b)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>c)</p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=204 height=192
  src="views/rfmo/RFMO6_files/image003.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=180 height=192
  src="views/rfmo/RFMO6_files/image004.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=192 height=192
  src="views/rfmo/RFMO6_files/image005.gif"></p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>d)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>e)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>f)</p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=204 height=198
  src="views/rfmo/RFMO6_files/image006.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=180 height=204
  src="views/rfmo/RFMO6_files/image007.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=168 height=198
  src="views/rfmo/RFMO6_files/image008.gif"></p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>h)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>i)</p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=204 height=204
  src="views/rfmo/RFMO6_files/image009.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'><img width=192 height=192
  src="views/rfmo/RFMO6_files/image010.gif"></p>
  </td>
  <td width=244 valign=top style='width:159.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>
  </td>
 </tr>
</table>



</div>
