<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>27
total: Australia, Belize, China, Comoros, Eritrea, EU, France, Guinea, India,
Indonesia, Iran, Japan, Kenya, Republic of Korea, Madagascar, Malaysia,
Mauritius, Oman, Pakistan, Philippines, Seychelles, Sri Lanka, Sudan, Tanzania,
Thailand, UK, Vanuatu.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> The Indian Ocean and adjacent seas, north of the Antarctic Convergence.</p>

<p class=MsoNormal><span style='position:relative;z-index:1'><span
style='position:absolute;left:-332px;top:-1px;width:3px;height:302px'></span></span><span
style='position:relative;z-index:2'><span style='position:absolute;left:-332px;
top:-1px;width:3px;height:302px'></span></span><b>Date entered into force:</b>
1996</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>Yes.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>51,
57.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
promote cooperation among its Members with a view to ensuring, through appropriate
management, the conservation and optimum utilization of stocks and encouraging
sustainable development of fisheries based on such stocks.” </p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b>
Albacore tuna (<i>Thunnus alalunga</i>), Bigeye tuna (<i>Thunnus obesus</i>),
Black marlin (<i>Makaira indica</i>), Bullet tuna (<i>Auxis rochei</i>),
Frigate tuna (<i>Auxis thazard</i>), Kawakawa (<i>Euthynnus affinis</i>),
Longtail tuna (<i>Thunnus tonggol</i>), Indo-Pacific blue marlin (<i>Makaira
mazara</i>), Indo-Pacific king mackerel (<i>Scomberomorus guttatus</i>),
Indo-Pacific sailfish (<i>Istiophorus platypterus</i>), Narrow barred Spanish
mackerel (<i>Scomberomorus commersoni</i>), Skipjack (<i>Katsuwonus pelamis</i>),
Southern bluefin tuna (<i>Thunnus maccoyii</i>), Swordfish (<i>Xiphias gladius</i>),
Striped marlin (<i>Tetrapturus audax</i>), Yellowfin tuna (<i>Thunnus albacares</i>).</p>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The x-axes on the figures
below represent either current biomass (B2007) or current spawning stock
biomass (SSB2004) over either biomass at maximum sustainable yield (Bmsy) or
spawning stock biomass at maximum sustainable yield (SSBmsy). The y-axes
represent current fishing mortality (F2007 or F2004) over fishing mortality
that produces maximum sustainable yield (Fmsy). Shown below, are stocks: a) Bigeye
tuna; b) Albacore tuna; c) Yellowfin tuna. For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><img width=715 height=237
src="/views/rfmo/RFMO7_files/image002.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'> </p>

<p class=Thesisbodytext style='line-height:normal'>The figures below show time
series of biomass of the three main tuna stocks under IOTC management; the red
dashed lines denote the date IOTC was established (1996). For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'><b><span style='font-size:
10.0pt'>&nbsp;</span></b></p>

<p class=Thesisbodytext style='line-height:normal'><img
src="/views/rfmo/RFMO7_files/7_iotc.png"></p>

</div>

