<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>2
total: Canada, USA.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area:</b> Within EEZs of Canada and USA.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
1923</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>67.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b>
“…research on and management of the stocks of Pacific halibut (<i>Hippoglossus
stenolepis</i>) within the Convention waters of both nations.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b>
Pacific halibut (<i><a href="http://www.iphc.washington.edu/halcom/biology.htm"><span
style='color:windowtext'>Hippoglossus stenolepis</span></a></i>).</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=MsoNormal>The x-axis on the figure below represents current spawning
stock biomass (SSB2008) over IPHC’s spawning stock biomass reference point for
halibut (SSBref). The y-axis represents current exploitation rate (U2008) over
exploitation target rate (Utarget). Shown below is the Pacific halibut stock.
For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><img border=0 width=148
height=169 src="/views/rfmo/RFMO8_files/image001.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'>The figure below shows the time
series of exploitable biomass of Pacific halibut, the species under management
of IPHC; the red dashed line denotes the date IPHC was established (1923). For
data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<img src="/views/rfmo/RFMO8_files/8_IPHC.png" />
</div>
