<div class=Section1>

<p class=Thesisbodytext style='line-height:normal'><b>Contracting parties: </b>86
total: Antigua &amp; Barbuda, Argentina, Australia, Austria, Belgium, Belize,
Benin, Brazil, Cambodia, Cameroon, Chile, China, Congo (Republic of), Costa
Rica, Cote d’Ivoire, Croatia, Cyprus, Czech Republic, Denmark, Dominica,
Ecuador, Eritrea, Estonia, Finland, France, Gabon, The Gambia, Germany, Ghana
(Republic of), Greece, Grenada, Guatemala, Guinea (Republic of), Guinea-Bissau,
Hungary, Iceland, India, Ireland, Israel, Italy, Japan, Kenya, Kiribati, Korea
(Republic of), Laos, Lithuania, Luxemburg, Mali, Marshall Islands (Republic
of), Mauritania, Mexico, Monaco, Mongolia, Morocco, Nauru, Netherlands, New
Zealand, Nicaragua, Norway, Oman, Palau, Panama, Peru, Poland, Portugal,
Romania, Russian Federation, San Marino, Senegal, Slovak Republic, Slovenia,
Solomon Islands, South Africa, Spain, St. Kitts &amp; Nevis, St. Lucia, St.
Vincent &amp; the Grenadines, Suriname, Sweden, Switzerland, Tanzania, Togo,
Tuvalu, UK, USA, Uruguay.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Area: </b>Global oceans.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Date entered into force:</b>
1946</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO association: </b>No.</p>

<p class=Thesisbodytext style='line-height:normal'><b>FAO statistical area: </b>All
areas.</p>

<p class=Thesisbodytext style='line-height:normal'><b>Objectives:</b> “…to
provide for the proper conservation of whale stocks and thus make possible the
orderly development of the whaling industry.”</p>

<p class=Thesisbodytext style='line-height:normal'><b>Primary species:</b> All
cetaceans.</p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>

<p class=MsoNormal>The x-axis on the figure below represents current biomass
(B2008) over biomass at maximum sustainable yield (Bmsy). The y-axis represents
current fishing mortality (F2008) over fishing mortality that produces maximum
sustainable yield (Fmsy). The figure represents all nine great whale stocks with
greatest abundance under IWC management, i.e., all nine stocks follow the same
pattern. For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=Thesisbodytext style='line-height:normal'><img width=149 height=162
src="/views/rfmo/RFMO9_files/image001.jpg"></p>

<p class=Thesisbodytext style='line-height:normal'>&nbsp;</p>


<p class=MsoNormal>The figures below show time series of biomass of the nine
great whale stocks under IWC management; the red dashed lines denote the date
IWC was established (1946). For data sources, see <a href="ftp://ftp.fisheries.ubc.ca/FCWP/FCWP_2009-12_CullisSuzukiPauly.pdf">Cullis-Suzuki and Pauly (2009)</a>.</p>
<img src="/views/rfmo/RFMO9_files/9_IWC.png" />
</div>

