<p><a href="">Profile (NOAA)</a></p>
<!-- <p><a href="#">Primary production</a></p> -->
<p><span class="disabled">Primary production</span></p>
<p ng-show="ecopathURL"><a target="_blank" ng-href="{{ecopathURL}}">Ecopath models</a></p>
<p ng-hide="ecopathURL"><span class="disabled">Ecopath models</span></p>
<p ng-show="estuariesData.data.features.length"><a target="_blank" ng-href="#/{{region.name}}/{{formModel.region_id}}/estuaries">Estuaries</a></p>
<p ng-hide="estuariesData.data.features.length"><span class="disabled">Estuaries</span></p>
