<p>
  Click a link below for regulations, treaties and conventions implemented in this region.
</p>
<p><a target="_blank" href="" ng-href="#/country/{{feature.data.country_id}}">Country profile</a></p>
<p><a ng-href="#/subsidy/{{feature.data.geo_entity_id}}">Fisheries subsidies</a></p>
<p><a ng-href="http://www.fishbase.de/Country/CountryTreatyList.php?Country={{feature.data.fishbase_id}}" target="_blank"> Treaties &amp; conventions</a></p>
<p ng-show="profile.fao_profile_url"><a target="_blank" ng-href="{{profile.fao_profile_url}}">FAO Profile</a></p>
<p ng-show="region.name === 'eez'"><a ng-href="#/eez/{{formModel.region_id}}/internal-fishing-access">Fishing access internal</a></p>
