<p>
  Much confusion surrounds the notion of ecosystem indicators. Some believe ecosystem indicators are whatever one can 
  measure that impacts ecosystems, i.e. sea surface temperatures. However, to be of use, indicators must summarize in a 
  single number a variety of complex processes that are otherwise hard to apprehend. Moreover, besides description, 
  indicators must allow for communication, and, ideally, for intervention. We present a small number of indicators that 
  are either available globally, or could be derived, on a global basis, from the Sea Around Us reconstructed catches. 
  Contact us for suggestion of other indicators, either from third parties, or which could be derived from catch data.
</p>
<p><a target="_blank" ng-show="feature.data.gsi_link" ng-href="{{feature.data.gsi_link}}">Global Slavery Index</a>
<p ng-hide="feature.data.gsi_link"><span class="disabled">Global Slavery Index</span></p>
<p><a target="_blank" ng-href="#/{{region.name}}/{{formModel.region_id}}/stock-status" scroll-click="region-title">Stock status plots</a>
<p><a target="_blank" ng-href="#/{{region.name}}/{{formModel.region_id}}/marine-trophic-index" scroll-click="region-title">Marine trophic index</a>
<p><a ng-click="setURLParams({chart: 'multinational-footprint'})" scroll-click="region-title">Multinational footprint</a>
<p><a target="_blank" ng-show="feature.data.ohi_link" ng-href="{{feature.data.ohi_link}}">Ocean Health Index website</a>
<p ng-hide="feature.data.ohi_link"><span class="disabled">Ocean Health Index website</span></p>
