<p><a target="_blank" ng-href="#/{{region.name}}/{{formModel.region_id}}/stock-status">Stock status plots</a>
<p><a target="_blank" ng-href="#/{{region.name}}/{{formModel.region_id}}/marine-trophic-index">Marine trophic index</a>
<p><a ng-click="chartChange('multinational-footprint')">Multinational footprint</a>
<p><a target="_blank" ng-show="feature.data.ohi_link" ng-href="{{feature.data.ohi_link}}">Ocean Health Index website</a>
<p ng-hide="feature.data.ohi_link"><span class="disabled">Ocean Health Index website</span></p>
