<div class="container-fluid">
    <h3>Governance</h3>
    <p><a target="_blank" ng-href="#/{{region}}/{{region_id}}/stock-status">Stock status plots</a>
    <p><a target="_blank" ng-href="#/{{region}}/{{region_id}}/marine-trophic-index">Marine trophic index</a>
    <p><a target="_blank" ng-href="#/{{region}}/{{region_id}}/multinational-footprint">Multinational footprint</a>
    <p><a target="_blank" ng-show="feature.data.metrics.ohi_website.value" ng-href="{{feature.data.metrics.ohi_website.value}}">Ocean Health Index website</a>
</div>