<div class="container-fluid modal-body">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="modal-title pull-left">{{feature.data.title}}</h3>
            <button class="btn btn-primary x-button pull-right" ng-click="ok()">X</button>
            <button class="btn btn-primary x-button pull-right" ng-click="ok()">Download Data</button>
        </div>
    </div>

    <div class="row">
        <div class="content col-sm-12">
            <img src="http://placekitten.com/g/1200/400" />
        </div>
    </div>

    <div class="row">
        <h3 class="modal-title">{{feature.data.title}}</h3>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div class="content row">
                <img src="http://placekitten.com/g/400/350" />
            </div>
            <div class="content row">
                <img src="http://placekitten.com/g/400/290" />
            </div>
            <div class="content row">
                <img src="http://placekitten.com/g/400/295" />
            </div>
        </div>

        <div class="tabset content col-sm-7">
            <tabset>
              <tab heading="Catch Info">Static content</tab>
              <tab heading="Biodiversity"><img src="http://placekitten.com/g/400/350" /></tab>
              <tab heading="Ecosystems"><img src="http://placekitten.com/g/400/351" /></tab>
              <tab heading="Governance"><img src="http://placekitten.com/g/400/352" /></tab>
              <tab heading="Indicators"><img src="http://placekitten.com/g/400/349" /></tab>
              <tab heading="Feedback"><img src="http://placekitten.com/g/400/348" /></tab>
            </tabset>
        </div>
    </div>

</div>