<div class="container modal-body">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="modal-title pull-left">
                {{chartTitle}}
            </h1>
            <button class="btn btn-primary x-button pull-right" ng-click="close()">X</button>
            <button class="btn btn-primary x-button pull-right" ng-click="download()">Download Data</button>
        </div>
    </div>

    <div class="row">
        <div class="padded content col-sm-12" ng-include="chartTemplate"></div>
    </div>

    <div class="row">
        <h1 class="modal-title">
            <span ng-bind="$root.hoverRegion.properties.title"></span>
            <span ng-show="$root.hoverRegion.properties.long_title">
                : <span ng-bind="$root.hoverRegion.properties.long_title">
            </span>
        </h1>
    </div>

    <div class="two-columns row">
        <div class="map-cells col-sm-5">
            <div class="minimap content row" ng-controller="MiniMapCtrl">
                <leaflet layers="layers" id="minimap" maxbounds="maxbounds" center="center" defaults="defaults"></leaflet>
            </div>
            <div class="padded content row">
                <sau-legend legend-keys="legendKeys"></sau-legend>
                <p class="disclaimer">
                    <strong>Disclaimer:</strong> The maritime limits and boundaries shown on this map are not to be considered as an authority on the delimitation of the international maritime boundaries (see <a href="http://www.seaaroundus.org/doc/saup_manual.htm#15" target="_blank">Methods</a>).
                </p>
            </div>
            <div class="padded content row">
                <table class="metrics">
                    <tr ng-repeat="metric in feature.data.metrics">
                        <td><a>{{metric.title}}</a></td>
                        <td>{{metric.value|number}} <span ng-bind-html="metric.units"></span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tabset content col-sm-7">
            <tabset>
              <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                <div class="container" ng-include="tab.template"></div>
              </tab>
            </tabset>
        </div>

    </div>

</div>