<div ng-controller="MultinationalFootprintCtrl">
	<div ng-show="noData" class="chart-container no-data">
    	<p ng-bind="noDataMessage"></p>
	</div>

	<div ng-hide="noData" class="chart-container form-inline" spinner>
    	<div class="pull-right header-links">

      <span ng-show="(!declarationYear.visible) && declarationYear.exists">
        <a ng-click="drawDeclarationYear()">Show declaration year</a>
        <br />
      </span>
      <span ng-show="declarationYear.visible && declarationYear.exists">
        <a ng-click="hideDeclarationYear()">Hide declaration year</a>
        <br />
      </span>

			<method anchor="multinational-footprint"></method>
		</div>
    	<nvd3 api="api" options="options" data="data"></nvd3>
    </div>
</div>
