<p>
    Select a region to view mariculture production. For more information Sources:
    <a target="_blank" href="https://circle.ubc.ca/handle/2429/32851">Thesis</a>;
    <a target="_blank" href="http://www.seaaroundus.org/researcher/dpauly/PDF/2013/Journal%20Articles/Mariculture.pdf">Publication</a>
</p>

<h3>Select State/Province</h3>
<ui-select search-enabled="true" on-select="onProvinceSelect($item)" ng-model="selectedProvince.feature" theme="bootstrap">
  <ui-select-match placeholder="Type or select item from list">{{$select.selected.title}}</ui-select-match>
  <ui-select-choices repeat="feature in features.data | orderBy: 'title' | filter: {title:$select.search}">
    <span ng-bind-html="feature.title | highlight: $select.search"></span>
  </ui-select-choices>
</ui-select>

<h3>Production by</h3>
<p ng-repeat="dim in dimensions">
    <a ng-click="formModel.dimension = dim" scroll-click="region-title">{{dim.label}}</a>
</p>
