<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat elementum. Sed nisi lorem, pellentesque in leo sit amet, hendrerit posuere ipsum. Suspendisse in nunc vehicula, eleifend risus nec, hendrerit purus. Ut tortor eros, consectetur quis scelerisque non, tempor condimentum mi. Morbi ac facilisis ex. Duis porta aliquet sem, ornare scelerisque lorem laoreet vitae. Integer auctor diam non maximus dignissim.
</p>

<h3>Select State/Province</h3>
<select ng-model="selectedProvince" ng-options=""></select>

<h3>Production by</h3>
<p><a href="">Taxon</a></p>
<p><a href="">Commercial groups</a></p>
<p><a href="">Functional groups</a></p>
