<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat elementum. Sed nisi lorem, pellentesque in leo sit amet, hendrerit posuere ipsum. Suspendisse in nunc vehicula, eleifend risus nec, hendrerit purus. Ut tortor eros, consectetur quis scelerisque non, tempor condimentum mi. Morbi ac facilisis ex. Duis porta aliquet sem, ornare scelerisque lorem laoreet vitae. Integer auctor diam non maximus dignissim.
</p>

<h3>Select State/Province</h3>
<ui-select search-enabled="true" on-select="onProvinceSelect($item)" ng-model="selectedProvince.feature" theme="bootstrap">
  <ui-select-match placeholder="Type or select item from list">{{$select.selected.title}}</ui-select-match>
  <ui-select-choices repeat="feature in features.data | orderBy: 'title' | filter: {title:$select.search}">
    <span ng-bind-html="feature.title | highlight: $select.search"></span>
  </ui-select-choices>
</ui-select>

<h3>Production by</h3>
<p ng-repeat="dim in dimensions">
    <a ng-click="formModel.dimension = dim" scroll-click="region-title">{{dim.label}}</a>
</p>
