<div id="advanced-search">
	<h1>Advanced Search</h1>
	<p> Use our <strong>advanced search</strong> feature to access specific catch data quickly. Visualize the data in chart-form or download it to your computer for use in various applications.</p>
	<div class="sau-panel">
		<div class="panel-header">
			<!--div class="row">
				<div class="col-xs-12">
					<label for="searchParamSelect">Search on</h3>
				</div>
			</div-->

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="searchParamSelect">Search on</label>
						<select id="searchParamSelect" class="form-control">
							<option>EEZ</option>
							<option>LME</option>
						</select>
					</div>
				</div>
				<div class="col-sm-6 help-text hidden-xs">
					<p>Changing this value will change the fields below.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="panel-body">
			<!-- EEZ - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div id="eez-parameters">
				<div class="row">
					<div class="col-xs-12">
						<label for="regionSelect">EEZ regions</label>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<input id="regionSelect" type="search" class="form-control bottomless-search-box" placeholder="Search EEZ regions">
							<div>
								<select multiple class="form-control squared-topped-select">
									<option ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">Some option #{{i}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<div class="sau-panel selected-items-panel">
								<div class="panel-header-small">
									Selected EEZ regions
								</div>
								<div>
								<div class="panel-body">
									<ul class="list-unstyled">
										<li ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]">Thing {{i}}</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="dimensionInput">Dimension</label>
							<select id="dimensionInput" class="form-control">
								<option>Taxon</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="measureInput">Measure</label>
							<select id="measureInput" class="form-control">
								<option>Tonnage</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="limitInput">Legend limit</label>
							<select id="limitInput" class="form-control">
								<option>5</option>
							</select>
						</div>
					</div>

					<div class="col-sm-6 help-text hidden-xs">
						<p>Limit the number of dimensions given.</p>
					</div>
				</div>
			</div>

			<!-- LME - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div id="lme-parameters">

			</div>
		</div>

		<div class="panel-footer">
			<!-- center this inside the footer -->
			<div class="text-center">
				<button class="btn btn-primary">View graph</button>
				<span class="or-separator">or</span>
				<button class="btn btn-primary">Download data</button>
			</div>
		</div>
	</div>
</div>