<div class="content-container" id="country-profile">
    <h2>Country profile: <span ng-bind="profile.country"></span></h2>
    <a target="_blank" ng-href="{{profile.fao_profile_url}}">FAO Profile</a>

    <h4>Governmental Organization(s)</h4>
    <p>
        Government agency for marine fisheries:
        <span ng-bind="profile.gov_marine_fish"></span>
        <br />
        <span class="title">Fisheries management entity:</span>
        <br />
        <a target="_blank" ng-href="{{profile.url_fish_mgt_plan}}" ng-bind="profile.fish_mgt_plan"></a>
    </p>

    <p>
        Government agency for protection of the maritime environment:
        <span ng-bind="profile.gov_protect_marine_env"></span>
        <br />
        <span class="title">Major law/legislation:</span>
        <br />
        <a target="_blank" ng-href="{{profile.url_major_law_plan}}" ng-bind="profile.major_law_plan"></a>
    </p>

    <h4>Non-governmental organization(s) covering marine issues:</h4>
    <p ng-repeat="ngo in profile.ngo">
        <span class="title" ng-bind="ngo.ngo_name"></span>
        <br />
        <span ng-bind="ngo.address"></span><span ng-show="ngo.tel_number">,
        Tel.:
        <span ng-bind="ngo.tel_number"></span></span><span ng-show="ngo.email">,
        email:
        <span ng-bind="ngo.email"></span></span><span ng-show="ngo.website">,
            Website:
            <a target="_blank" ng-href="{{ngo.website}}" ng-bind="ngo.website"></a>
        </span>
    </p>

    <p id="links">
        <span class="disabled" target="_blank">Code of conduct profile</span>
    </p>
</div>