<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Attribution</h2>
    </div>
    <div class="modal-body">
        <p>While these data are freely available for use, we ask that you please acknowledge Sea Around Us in your work.</p>

        <p><strong>By clicking Download Data Now, you agree to provide attribution for any Sea Around Us data you use.</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="downloadData()">DOWNLOAD DATA NOW</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">CANCEL</button>
    </div>
</div>