<div class="content-container" id="estuaries">
    <h3>Major Estuaries of <span ng-bind="geojson.data.country.title"></span></h3>
    <div id="map-container">
        <div id="control-box">

            <ui-select class="search pull-left" ng-model="model.selectedFeature" on-select="onSelect($item)" theme="bootstrap">
              <ui-select-match placeholder="Type or select item from list...">{{$select.selected.properties.title}}</ui-select-match>
              <ui-select-choices repeat="feature in geojson.data.features | orderBy: 'properties.title' | filter: {properties:{title:$select.search}}">
                <span ng-bind-html="feature.properties.title | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>

            <span class="number-estuaries pull-right">
                No. of estuaries:
                <span ng-bind="geojson.data.features.length"></span>
            </span>
        </div>
        <leaflet id="estuariesmap" layers="layers" geojson="geojson" center="center" defaults="defaults"></leaflet>
        <div id="estuary-detail">
            <table>
            <col>
            <col>
            <col>
            <col>
                <tbody>
                    <tr>
                        <td>Estuary: </td>
                        <td class="content" ng-bind="model.selectedFeature.properties.title"></td>
                        <td>Period: </td>
                        <td ng-show="! (model.selectedFeature.properties.year_start && model.selectedFeature.properties.year_end)" class="content">
                            unknown
                        </td>
                        <td ng-show="model.selectedFeature.properties.year_start && model.selectedFeature.properties.year_end" class="content">
                            <span ng-bind="model.selectedFeature.properties.year_start"></span>
                            -
                            <span ng-bind="model.selectedFeature.properties.year_end"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>River system(s): </td>
                        <td ng-bind="model.selectedFeature.properties.river_system || '-'"></td>
                        <td>Reference: </td>
                        <td><method anchor="estuaries"></method></td>
                    </tr>
                    <tr>
                        <td>Av. discharge (m<sup>3</sup>s<sup>-1</sup>): </td>
                        <td ng-bind="model.selectedFeature.properties.discharge || '-'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
