<div id="acknowledgement-modal">
  <p>
    The information, still largely incomplete, presented here was assembled by Dr. Maria Lourdes Palomares,
    a member of the Sea Around Us Project, Fisheries Centre, University of British Columbia, 2259 Lower Mall,
    Vancouver, BC, V6T 1Z4, Canada.
  </p>
  <p>
    Dr. Palomares wishes to acknowledge the <a target="_blank" href="http://www.mnhn.fr/museum/foffice/index.html">Muséum
    National d'Histoire Naturelle</a> in Paris which is supporting work on early French expeditions since summer of
    2001. She also acknowledges the <a target="_blank" href="http://www.mcbi.org/">Marine Conservation Biology Institute</a>
    who awarded her with, in June 2005, the Tegner Memorial Grant for her work on historic expeditions. Thanks are also
    due to the various colleagues, among whom are Ms. Elizabeth Mohammed and Mr. Dawit Teschfamichael, who helped in
    assembling some of the information.
  </p>
  <p>
    These pages, originally designed by Ms. Cindy Young
    (<a target="_blank" href="http://www.mousetrapmultimedia.com/">Mousetrap Multimedia Productions</a>),
    are based on an Access database whose original structure was built with the help of Mr. Chris O'Grady
    (<a target="_blank" href="http://www.cognitivedesign.net/">www.cognitivedesign.net</a>).
    These pages are currently being managed by the SAUP webmaster
    (<a target="_blank" href="mailto:f.valdez@fisheries.ubc.ca">f.valdez@fisheries.ubc.ca</a>).
  </p>
  <p>
    Colleagues interested in contributing to this database are welcome to contact Dr. Palomares at
    <a target="_blank" href="mailto:m.palomares@fisheries.ubc.ca">m.palomares@fisheries.ubc.ca</a>.
  </p>

  <button class="btn btn-primary" ng-click="$close()">Close</button>
</div>
