<div class="habitat-index">
  <div class="habitat-index-chart" ng-show="taxon.showHabitatIndex">
    <div class="chart-title">
      Habitat association indexes for {{taxon.scientific_name}} ({{taxon.common_name}})
    </div>
    <nvd3 options="options" data="data" api="api"></nvd3>
    <div class="legend">
        <span class="legend-item" ng-repeat="legendItem in legend">
          <span class="legend-color" ng-style="{'background-color': legendItem.color}"></span>
          <span class="legend-label" ng-bind="legendItem.label"></span>
        </span>
    </div>
    <p class="caveat" ng-show="habitatIndexCaveat" ng-bind="habitatIndexCaveat"></p>
    <method anchor="catch-reconstruction-and-allocation-methods/taxon-distributions"></method>
  </div>
</div>
