<div class="chart-container">
    <nvd3 options='options' data='chartdata'></nvd3>
<!--         <button class="btn btn-primary x-button" ng-click="computeRegression()" ng-show="showRegression" ng-click="hide()">Compute regression</button> -->
    <p>
        Start year <select ng-change="changeRange()" ng-model="model.startYear" ng-options="y as y for y in startYears"></select>
        End Year <select ng-change="changeRange()" ng-model="model.endYear" ng-options="y as y for y in endYears"></select>
        <button ng-show="showMaximizer" class="btn btn-primary x-button" ng-click="maximizeRange()">Set Maximum Range</button>
    </p>
    <p>
        Slope={{regressionModel.slope|number:2}}
        Intercept={{regressionModel.intercept|number:2}}
        R<sup>2</sup>={{regressionModel.r2|number:2}}
    </p>
</div>