<div class="marine-trophic-index-search">
  <h1 id="mti-title">Marine Trophic Index</h1>
  <p>
    The Convention on Biological Diversity (CBD) identified indicators to monitor biodiversity loss. The
    'Marine Trophic Index' (MTI) is one of eight indicators identified for “immediate testing”. This collaboration
    developed and presents this indicator by country and LME. Select a region tab and region below to view the Marine
    Trophic Index for that region.
  </p>

  <div class="tabset">
    <tabset>
      <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
        <p ng-bind="tab.text"></p>

        <div class="region-select">
          <ui-select search-enabled="true" ng-model="tab.selected.region" theme="bootstrap">
            <ui-select-match placeholder="Type or select item from list...">{{$select.selected.properties.title}}</ui-select-match>
            <ui-select-choices repeat="feature in tab.regions.data.features | orderBy: 'properties.title' | filter: {properties:{title:$select.search}}">
              <span ng-bind-html="feature.properties.title | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>

        <button class="btn btn-primary" ng-click="submitRegion(tab.selected)" scroll-click="mti-title">Submit</button>
      </tab>
    </tabset>

    <feedback></feedback>

  </div>
</div>
