<div class="container" id="marine-trophic-index">
    <div class="title row">
      <h2 id="mti-title" class="pull-left">
        Marine Trophic Index of the catch in the waters of <span ng-bind="region.data.title"></span>
        {{ withExclusions? " with exclusions" : "" }}
      </h2>
      <button class="btn btn-primary pull-right" ng-click="openDownloadDataModal()"
              ga-event="downloadModalGA" ng-hide="noData">Download Data</button>
    </div>

  <div ng-show="noData">
    <p class="no-data">Not enough data available</p>
  </div>
  <div ng-hide="noData">
    <!--
    <table id="access-year-table">
        <tr ng-if="regionType === 'eez'">
            <td><a tabindex="0" popover-placement="right" popover-trigger="focus" popover="This reflects the year that the Sea Around Us project set as the first year in which fishing vessels from this country engaged in fishing in High Seas waters (water beyond the boundaries of Exclusive Economic Zones). If you have knowledge and data that would support an earlier or later year to be specified, please advise us of this via feedback.">High seas accessed</a>
            by {{region.data.country_name}}</td>
            <td>{{region.data.year_allowed_to_fish_high_seas}}</td>
        </tr>
        <tr ng-if="regionType === 'eez'">
            <td><a tabindex="0" popover-placement="right" popover-trigger="focus" popover="This reflects the year that the Sea Around Us project set as the first year in which fishing vessels from this country engaged in fishing in the Exclusive Economic Zone waters of other countries (if observed access or formal access agreements existed). If you have knowledge and data that would support an earlier or later year to be specified, please advise us of this via feedback.">Other EEZs accessed</a> by {{region.data.country_name}}</td>
            <td>{{region.data.year_allowed_to_fish_other_eezs}}</td>
        </tr>
    </table>
    -->
    <line-chart-with-regression years="mtlYears" chartdata="mean_trophic_level" ylabel="Trophic level of the catch"></line-chart-with-regression>
    <line-chart-with-regression years="fibYears" chartdata="fib_index" ylabel="Fishing-in-balance index"></line-chart-with-regression>

  <h3>FiB index inputs</h3>
  <label for="fibYear">Reference year:</label>
  <select id="fibYear" ng-model="fib.year" ng-options="year for year in years"></select>
  <label for="fibTransferEfficiency">Transfer efficiency:</label>
  <input id="fibTransferEfficiency" ng-model="fib.transferEfficiency" ng-blur="transferEfficiencyBounds()" type="text" />
  <button class="btn btn-primary" ng-click="compute()">Compute</button>

  <hr />

  <div class="row">
    <a class="show-hide-tabular" ng-hide="showTabular" ng-click="showTabular = true">Show tabular data</a>
    <a class="show-hide-tabular" ng-show="showTabular" ng-click="showTabular = false">Hide tabular data</a>
  </div>

  <table ng-show="showTabular" class="tabular-data">
    <thead>
    <tr>
      <th>Year</th>
      <th>Mean trophic level</th>
      <th>Mean max. length (cm)</th>
      <th>FiB index</th>
      <th>Expansion factor</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(year, data) in tabularData | orderBy: year">
      <td ng-bind="year"></td>
      <td ng-bind="data.mean_trophic_level | number"></td>
      <td ng-bind="data.mean_max_length | number"></td>
      <td ng-bind="data.fib_index | number"></td>
      <td ng-bind="data.expansion_factor | number"></td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <a class="show-hide-species" ng-hide="showSpecies" ng-click="showSpecies = true">Show species list</a>
    <a class="show-hide-species" ng-show="showSpecies" ng-click="showSpecies = false">Hide species list</a>
  </div>

  <div class="row buttons">
      <button ng-show="showSpecies" ng-click="compute()" scroll-click="mti-title">Compute</button>
      <button ng-show="showSpecies" ng-click="setAllExclusions(true)">Exclude all</button>
      <button ng-show="showSpecies" ng-click="setAllExclusions(false)">Clear exclusions</button>
    </div>

    <table ng-show="showSpecies" class="species-list">
      <thead>
      <tr>
        <th>Exclude</th>
        <th>TL</th>
        <th>SLMax(cm)</th>
        <th>Common Name</th>
        <th>Scientific Name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="species in speciesList | orderBy: '-trophic_level'">
        <td class="exclude"><input type="checkbox" ng-value="species.taxon_key" ng-model="species.excluded" /></td>
        <td ng-bind="species.trophic_level | number"></td>
        <td ng-bind="species.sl_max"></td>
        <td ng-bind="species.common_name"></td>
        <td class="scientific-name" ng-bind="species.scientific_name"></td>
      </tr>
      </tbody>
    </table>
  </div>

    <button ng-show="showSpecies" ng-click="compute()" scroll-click="mti-title">Compute</button>

    <div class="row links">
      <method anchor="marine-trophic-index"></method>
      | <a href="/regional-mti-tools/">Regional MTI tools</a>
      | <a href="http://www.fishingdown.org/CaseStudies.aspx" target="_blank">www.fishingdown.org</a>
      | <feedback></feedback>
    </div>
</div>
