<div class="content-container" id="mpa-global">
    <div id="map-global-container">
        <leaflet id="mpaglobalmap" layers="layers" geojson="geojson" center="center" defaults="defaults"></leaflet>
    </div>
    <div id="search-mpanote">
        <div class="disclaimer">Note: Each point shows the approximate location of the MPA’s studied and the colors represent their size (red: <100 km<sup>2</sup> , yellow: 100 - 1,000 km<sup>2</sup>, green: >1,000 km<sup>2</sup>) <br>
        Disclaimer: The mapped MPAs reflect a preliminary assessment carried out by <i>Sea Around Us</i> and does not present all MPAs in the world.</div>
    </div>
</div>
