<div id="spatial-catch" class="page-controller saustrap">
	<h1>Spatial catch distribution lorem ipsum</h1>
	<p id="main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor sodales pretium. Morbi cursus viverra est, eget maximus enim tincidunt quis. Praesent malesuada ex quis nunc semper, non pellentesque ex consectetur.</p>
	<leaflet id="map" layers="leaflet.layers" maxbounds="leaflet.maxbounds" geojson="leaflet.geojson" center="leaflet.center" defaults="leaflet.defaults" width="100%" height="660"></leaflet>
</div>