<div id="spatial-catch" class="page-controller saustrap">
	<h1>Spatial catch distribution lorem ipsum</h1>
	<ul id="side-menu" class="pull-right list-unstyled text-right">
		<li><a href="#">Method</a></li>
		<li><a href="#">View Graph</a></li>
	</ul>
	<p id="main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor sodales pretium. Morbi cursus viverra est, eget maximus enim tincidunt quis. Praesent malesuada ex quis nunc semper, non pellentesque ex consectetur.</p>
	<div class="sau-panel">
		<div id="query-inputs" class="row">
			<form novalidate>
				<div class="col-md-4">
					<label class="small-label" for="selectFishingCountries">Fishing countries</label>
					<ui-select id="selectFishingCountries" multiple ng-model="query.fishingCountries" class="query-select" on-remove="queryChanged()" on-select="queryChanged()">
						<ui-select-match placeholder="Select">{{$item.title}}</ui-select-match>
						<ui-select-choices repeat="country in fishingCountries | filter: $select.search track by country.id">
							<span ng-bind-html="country.title | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-2 catches-by-query">
					<label class="small-label" for="selectCatchesBy">Catches by</label>
					<select id="selectCatchesBy" placeholder="Select" class="form-control" ng-model="query.catchesBy" ng-init="query.catchesBy='taxa'">
						<option value="taxa">Taxon</option>
						<option value="commercial groups">Commercial group</option>
						<option value="functional groups">Functional group</option>
					</select>
				</div>
				<div class="col-md-2 catches-by-query">
					<div ng-show="query.catchesBy === 'taxa'">
						<label class="small-label" for="selectTaxa">Taxon/taxa</label>
						<ui-select id="selectTaxa" multiple ng-model="query.taxa" class="query-select">
							<ui-select-match placeholder="Select">{{$item.common_name}}</ui-select-match>
							<ui-select-choices repeat="taxon in taxa | filter: $select.search track by taxon.taxon_key">
								<span ng-bind-html="taxon.common_name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div ng-show="query.catchesBy === 'commercial groups'">
						<label class="small-label" for="selectTaxa">Commercial group(s)</label>
						<ui-select id="selectTaxa" multiple ng-model="query.commercialGroups" class="query-select">
							<ui-select-match placeholder="Select">{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="commercialGroup in commercialGroups | filter: $select.search track by commercialGroup.commercial_group_id">
								<span ng-bind-html="commercialGroup.name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div ng-show="query.catchesBy === 'functional groups'">
						<label class="small-label" for="selectTaxa">Functional group(s)</label>
						<ui-select id="selectTaxa" multiple ng-model="query.functionalGroups" class="query-select">
							<ui-select-match placeholder="Select">{{$item.description}}</ui-select-match>
							<ui-select-choices repeat="functionalGroup in functionalGroups | filter: $select.search track by functionalGroup.functional_group_id">
								<span ng-bind-html="functionalGroup.description | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="col-md-2">
					<label class="small-label" for="selectReportingStatus">Reporting status(es)</label>
					<ui-select id="selectReportingStatus" multiple ng-model="query.reportingStatuses" class="query-select">
						<ui-select-match placeholder="Select">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="status in reportingStatuses | filter: $select.search track by status.name">
							<span ng-bind-html="status.name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-2">
					<label class="small-label" for="selectCatchType">Catch type(s)</label>
					<ui-select id="selectCatchType" multiple ng-model="query.catchTypes" class="query-select">
						<ui-select-match placeholder="Select">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="catchType in catchTypes | filter: $select.search track by catchType.name">
							<span ng-bind-html="catchType.name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<span class="expand-collapse-button" ng-click="showTaxonDistributionBar = !showTaxonDistributionBar"><i class="fa fa-plus-square expand-collapse-icon" ng-class="{'fa-plus-square': !showTaxonDistributionBar, 'fa-minus-square': showTaxonDistributionBar}"></i><span class="expand-collapse-label">Global taxon distribution</span></span>
			</div>
		</div>
		<div class="row" ng-show="showTaxonDistributionBar">
			<div class="col-md-10">
				<ui-select id="selectDistributionTaxon" multiple ng-model="query.distributionTaxon" class="query-select">
					<ui-select-match placeholder="Select taxa">{{$item.common_name}}</ui-select-match>
					<ui-select-choices repeat="taxon in taxa | filter: $select.search track by taxon.taxon_key">
						<span ng-bind-html="taxon.common_name | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2 text-right">
				<a href="#">Show scientific names</a>
			</div>
		</div>
		<div class="timeline">

		</div>
		<div class="row" ng-show="isQueryDirty()">
			<div class="col-xs-12"><button id="update-map-button" type="button" class="btn btn-success btn-block" ng-click="submitQuery(query)">Update map</button></div>
		</div>
		<div id="cell-map">
			<div id="cell-map-loading-overlay" ng-show="(spatialCatchData && !spatialCatchData.$resolved) || isRendering">
				<p>{{loadingText}}</p>
			</div>
		</div>
		<div class="row compare-bar" ng-show="comparableTypes && comparableTypes.length > 0">
			<div class="col-xs-12">
				<form class="form-inline">
					<label for="compareInput">Compare</label>
					<select id="compareInput" placeholder="Select" class="form-control" ng-model="comparableType" ng-options="item.name for item in comparableTypes track by item.name"></select>
				</form>
			</div>
		</div>
		<div class="row" ng-show="isQueryComparable()">
			<div class="col-md-3 clearfix" ng-repeat="comparee in getComparees()">
				<spatial-catch-legend-key key-name="comparee[comparableType.entityName]" color="getColorOfComparee(comparee)" min-label="'x tonnes/km²'" max-label="'x tonnes/km²'"></spatial-catch-legend-key>
			</div>
		</div>
	</div>
</div>