<div ng-show="taxon" class="taxon-info">
	<h3>Key Information on {{taxon.common_name}}</h3>
	<table class="table-bordered" >
		<colgroup>
			<col class="table-key col-xs-3" />
			<col class="row-key" />
		</colgroup>
		<tr ng-show="taxon.commercial_group">
			<td class="table-key">Commercial group:</td>
			<td class="table-value">{{taxon.commercial_group}}</td>
		</tr>
		<tr ng-show="taxon.functional_group">
			<td class="table-key">Functional group:</td>
			<td class="table-value">{{taxon.functional_group}}</td>
		</tr>
		<tr ng-show="taxon.maximumLength">
			<td class="table-key">Maximum length:</td>
			<td class="table-value">{{taxon.sl_max_cm}}</td>
		</tr>
		<tr ng-show="taxon.trophic_level">
			<td class="table-key">Trophic level:</td>
			<td class="table-value">{{taxon.tl}}</td>
		</tr>
		<tr ng-show="taxon.lat_north">
			<td class="table-key">Latitude range:</td>
			<td class="table-value">Northern limit: {{taxon.lat_north}}&deg;; Southern limit: {{taxon.lat_south}}&deg;</td>
		</tr>
		<tr ng-show="taxon.max_depth">
			<td class="table-key">Bottom depth range:</td>
			<td class="table-value">Min. depth: {{taxon.min_depth}}m; Max depth: {{taxon.max_depth}}m</td>
		</tr>
		<tr ng-show="taxon.loo">
			<td class="table-key">Growth parameters:</td>
			<td class="table-value">
				L<sub>∞</sub> = {{taxon.loo}};
				W<sub>∞</sub> = {{taxon.woo}};
				K = {{taxon.k}};
			</td>
		</tr>
		<tr ng-show="taxon.scientific_name">
			<td class="table-key">Additional URLs:</td>
			<td class="table-value">
				<ul class="list-inline">
					<li><a ng-show="fishBaseUrl" target="_blank" ng-href="{{fishBaseUrl}}">FishBase</a></li>
					<li><a target="_blank" ng-href="http://www.google.com/search?q={{taxon.scientific_name}}">Google</a></li>
					<li><a target="_blank" ng-href="http://scholar.google.com/scholar?q={{taxon.scientific_name}}">Scholar</a></li>
					<!-- <li><a target="_blank" ng-href="http://ispecies.org/?q={{taxon.scientific_name}}">iSpecies</a></li> -->
				</ul>
			</td>
		</tr>
		<tr ng-show="taxon.distributionMap">
			<td class="table-key">Distribution map:</td>
			<td class="table-value">{{taxon.distributionMap}}</td>
		</tr>
		<tr ng-show="taxon.habitatAssociationIndexes">
			<td class="table-key">Habitat association indexes:</td>
			<td class="table-value">{{taxon.habitatAssociationIndexes}}</td>
		</tr>
	</table>
</div>