<div ng-if="taxon.error" class="error">
	<h3>Error: taxon {{taxon.key}} was not found</h3>
</div>
<div ng-if="taxon && ! taxon.error" class="taxon-info">
	<h3>Key Information on {{taxon.common_name}} (<i>{{taxon.scientific_name}}</i>)</h3>

	<div class="taxa-link">
		<a ng-href="#/taxon/{{ taxon.taxon_key }}" class="taxa-link">
			View graph for catches of {{taxon.common_name}} (<i>{{taxon.scientific_name}}</i>)
		</a>
	</div>
	<div toggle-hide="taxon-distribution" class="taxa-link">
		<a ng-href="#/spatial-catch?dist={{ taxon.taxon_key }}">View biological distribution</a>
	</div>

	<table class="table-bordered">
		<colgroup>
			<col class="table-key col-xs-3" />
			<col class="row-key" />
		</colgroup>
		<tr ng-show="taxon.commercial_group">
			<td class="table-key">Commercial group:</td>
			<td class="table-value">{{taxon.commercial_group}}</td>
		</tr>
		<tr ng-show="taxon.functional_group">
			<td class="table-key">Functional group:</td>
			<td class="table-value">{{taxon.functional_group}}</td>
		</tr>
		<tr ng-show="taxon.sl_max_cm">
			<td class="table-key">Maximum length:</td>
			<td class="table-value">{{taxon.sl_max_cm}} cm</td>
		</tr>
		<tr ng-show="taxon.tl">
			<td class="table-key">Trophic level:</td>
			<td class="table-value">{{taxon.tl | number: 2}}</td>
		</tr>
		<tr ng-show="taxon.lat_north && taxon.lat_south">
			<td class="table-key">Latitude range:</td>
			<td class="table-value">
        Northern limit:
          <span ng-show="taxon.lat_north < 0">{{taxon.lat_north * -1}}&deg;S;</span>
          <span ng-hide="taxon.lat_north < 0">{{taxon.lat_north}}&deg;N;</span>
        southern limit:
          <span ng-show="taxon.lat_south < 0">{{taxon.lat_south * -1}}&deg;S</span>
          <span ng-hide="taxon.lat_south < 0">{{taxon.lat_south}}&deg;N</span>
      </td>
		</tr>
		<tr ng-show="taxon.min_depth && taxon.max_depth">
			<td class="table-key">Bottom depth range:</td>
      <td class="table-value">
        Min. depth: {{taxon.min_depth}} m;
        max. depth:
        <span ng-hide="taxon.max_depth === 9999">{{taxon.max_depth}} m</span>
        <span ng-show="taxon.max_depth === 9999">none</span>
      </td>
		</tr>
		<!-- <tr ng-show="taxon.loo && taxon.woo && taxon.k"> -->
		<tr>
			<td class="table-key">Growth parameters:</td>
			<td ng-hide="taxon.loo && taxon.woo && taxon.k" class="table-value">
        L<sub>∞</sub> = ; W<sub>∞</sub> = ; K = ;
      </td>
			<td ng-show="taxon.loo && taxon.woo && taxon.k" class="table-value">
				L<sub>∞</sub> = {{taxon.loo | number}} cm;
				W<sub>∞</sub> = {{taxon.woo | number}} g;
				K = {{taxon.k | number}} year<sup>-1</sup>;
			</td>
		</tr>
		<tr ng-show="taxon.scientific_name">
			<td class="table-key">Additional URLs:</td>
			<td class="table-value">
				<ul class="list-inline">
				<!--BEGIN MOD SORTIZ 11-21-17 -->
				<!--<li><a ng-show="fishBaseUrl" target="_blank" ng-href="{{fishBaseUrl}}">FishBase</a></li>-->
				<li>
				<span>
				<span ng-if="taxon.slb_spec_code || taxon.slb_fam_code || taxon.slb_ord_code">
					<a ng-show="fishBaseUrl" target="_blank" ng-href="{{fishBaseUrl}}">SeaLifeBase</a>
				</span>	
				<span ng-if="!taxon.slb_spec_code && !taxon.slb_fam_code && !taxon.slb_ord_code">
					<a ng-show="fishBaseUrl" target="_blank" ng-href="{{fishBaseUrl}}">FishBase</a>
				</span>	
				</span>
				</li>
				<!--END MOD SORTIZ 11-21-17 -->
					<li><a target="_blank" ng-href="http://www.google.com/search?q={{taxon.scientific_name}} {{taxon.common_name}}">Google</a></li>
					<li><a target="_blank" ng-href="http://scholar.google.com/scholar?q={{taxon.scientific_name}}">Scholar</a></li>
					<!-- <li><a target="_blank" ng-href="http://ispecies.org/?q={{taxon.scientific_name}}">iSpecies</a></li> -->
				</ul>
			</td>
		</tr>
		<!-- <tr ng-show="taxon.distributionMap"> -->
		<tr>
			<td class="table-key">Distribution:</td>
			<!--  <td class="table-value">{{taxon.distributionMap}}</td> -->
			<td class="table-value">
		<!--BEGIN SORTIZ 10/18/18-->
		<!--<span class="disabled">Map; </span>-->
		<a target="_blank" ng-href="#/spatial-catch?dist={{ taxon.taxon_key }}">Map;</a>
		<!--END SORTIZ 10/18/18-->
        <span ng-show="taxon.has_habitat_index">
          <a ng-hide="taxon.showHabitatIndex" ng-click="toggleHabitatIndex()">Show habitat association</a>
          <a ng-show="taxon.showHabitatIndex" ng-click="toggleHabitatIndex()">Hide habitat association</a>
        </span>
        <span ng-show="!taxon.has_habitat_index">
          <span class="disabled">Show habitat index</span>
        </span>
      </td>
		</tr>
		<tr ng-show="taxon.habitatAssociationIndexes">
			<td class="table-key">Habitat association indexes:</td>
			<td class="table-value">{{taxon.habitatAssociationIndexes}}</td>
		</tr>
	</table>
</div>
<habitat-index taxon="taxon"></habitat-index>

