<div class="content-container" id="topic-biodiversity">
    <h1>Biodiversity</h1>

    <p>
      To view landings by taxon, select the type and name of the spatial entity then click SUBMIT. To view
      information by taxon, select the taxon level and group. Key information on the taxon will be displayed
      at the bottom of the screen.
    </p>

    <h3>Information by Region</h3>

    <div id="region-selector">
        <select ng-model="selectedRegion" ng-options="region.title for region in regions"></select>
        for
        <select ng-model="selectedSubregion" ng-options="region.title for region in subregions | orderBy: 'title'"></select>

        <button type="button" ng-click="changeRoute()" ng-disabled="regionId === 0" class="btn btn-primary">
            Submit
        </button>
    </div>

    <h3>Information by Taxon</h3>

    <sau-taxon-grid region-name="regionName" region-id="regionId"></sau-taxon-grid>

    <sau-taxon-info taxon="taxon"></sau-taxon-info>

</div>
