<div class="content-container" id="topic-biodiversity">
    <h1>Biodiversity by Taxon</h1>

    <p>
        To view information by taxon, select the taxon level and group. Key information and links for
        the selected taxon will be displayed at the bottom of the screen.
    </p>

    <h3>Filter by Region</h3>

    <div id="region-selector">
        <!-- Region type selector -->
        <select ng-model="selectedRegion" ng-options="region.title for region in regions"></select>

        <!-- Region selector -->
        <!-- Hide this when 'Global' is selected as it is N/A -->
        <span ng-show="selectedRegion.value !== 'global'">
            <span style="padding: 0 8px">for</span>
            <select ng-model="selectedSubregion" ng-options="region.title for region in subregions | orderBy: 'title'"></select>
        </span>
    </div>

    <h3>Filter by Taxon</h3>

    <sau-taxon-grid region-name="regionName" region-id="regionId"></sau-taxon-grid>

    <sau-taxon-info taxon="taxon"></sau-taxon-info>

</div>
